@import "../../../../../node_modules/angular-calendar/css/angular-calendar.css";
@import "../../../../../node_modules/flatpickr/dist/flatpickr.css";
@import "../../../common-styles";


.calendar-wrapper {
    // .cal-month-view .cal-cell-row cal-header {
    //     height: 30px;
    // }

    // .cal-month-view .cal-cell-row {
    //     height: 50px;
    // }

    // .cal-month-view .cal-day-cell {
    //     min-height: 0px;
    // }
    h3 {
        font-size: 1.5rem;
    }
    .cal-month-view .cal-day-number {
        font-size: 16px;
        font-weight: 400;
        opacity: 1;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 8px;
    }
    .cal-day-badge {
        margin-right: 8px;
        margin-top: 5px;
        margin-left: 0;
        float: right;
    }
    .cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
        opacity: 0.2;
        cursor: default;
    }
    .cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
        color: #eec46aea;
    }
    .cal-month-view .cal-day-cell.cal-today .cal-day-number {
        font-size: 16px !important;
    }
    .cal-month-view .cal-day-cell.cal-today {
        background-color: #474d56;
    }
    .cal-month-view .cal-cell-row:hover {
        background-color: transparent !important;
        outline: unset !important;
    }
    .cal-month-view .cal-cell-row .cal-cell:hover,
    .cal-month-view .cal-cell.cal-has-events.cal-open {
        // background-color: #ededed;
        background: #8BE !important;
        outline: unset !important;
    }
    .cal-month-view .cal-days {
        border: 2px solid #444141;
        border-bottom: 0;
        border-radius: 0px 0px 17px 17px;
    }
    .cal-month-view .cal-day-cell:not(:last-child) {
        border-right: 2px solid #444141;
    }
    .cal-month-view .cal-days .cal-cell-row {
        border-bottom: 2px solid #444141;
    }
    .cal-month-view .cal-cell-top {
        min-height: 100%;
        flex: 1;
    }
    .cal-week-view .cal-header.cal-today {
        background-color: #6b99a0;
    }
    .cal-week-view .cal-hour-odd {
        background-color: #2e2e2e;
    }
    .cal-day-view .cal-hour:nth-child(odd) {
        background-color: #2e2e2e;
    }
    .cal-events {
        align-items: flex-start;
        flex-wrap: wrap-reverse;
    }
    .cal-cell-row, .cal-day-cell {
        box-sizing: border-box;
    }
    .cal-header {
        overflow: visible;
        text-overflow: unset;
        padding: 0 !important;
        span {
            white-space: normal;
        }
    }
    .cal-day-headers {
        padding-left: 13%;
        border-bottom: 1px solid $border-bottom-color;
    }
    .cal-time-label-column {
        width: 13%;
    }
    .cal-time {
        width: 100%;
    }
    .cal-day-cell {
        padding-bottom: 3px;
        min-height: 25px;
    }

    .table-bordered {
        border-color: $border-bottom-color;
        margin-bottom: 0;
    }

    /*.calendar_button-wrapper {
        background-color: red;
        overflow: hidden;
        .mat-raised-button {
            background-color: #424242 !important;
        }

        .mat-raised-button .cdk-focused .cdk-mouse-focused {
            background-color: #737373 !important;
        }
    }*/

    .mat-raised-button {
        background-color: #424242 !important;
    }
}

.calendar-modal-overlay {
    /*.calendar_button-wrapper {
        background-color: red;
        overflow: hidden;
        .mat-raised-button {
            background-color: #424242 !important;
        }

        .mat-raised-button .cdk-focused .cdk-mouse-focused {
            background-color: #737373 !important;
        }
    }*/

    .mat-raised-button {
        background-color: #424242 !important;
    }

    .modal-content {
        color: black;
    }
    .mat-button {
        min-width: 25px;
        width: 25px;
        padding: 0;
        font-size: 0.8rem;
        margin-right: 5px;
    }
}

.calendar-buttons.btn-group {
    .btn {
        color: white !important;
        border-color: #8e8e8e;
        padding-top: 0;
        padding-bottom: 0;
        background-color: #555555;

        &:hover {
            background-color: #2e2e2e;
        }

        &.active {
            background-color: black;
            border-color: #8e8e8e;
        }
        &.button-today {
            background-color: black;
        }
    }
}

.calendar_add-remove {
    width: 100%;
    & > button {
        margin: 10px auto;
        margin-left: 20%;
    }
}

.app-widget-modal-overlay {
    .calendar-wrapper {
        position: relative;
        max-height: 350px;
    }
}
