<app-widget [type]="type"
            [frozen]="frozen"
            [hide]="hide"
            [remove]="remove"
            [minimizedSubj]="minimizedOnStart"
            (minimizedEmiter)="onMinimize($event)"
            [opened]="onOpened()"
            [showHeader]="settings.showHeader"
            [headerName]="settings.headerName"
            (reload)="reload()"
            (hideWidget)="hideWidget.emit()"
            (save)="saveSettings()"
            (init)="widgetInit()"
            [reloadable]="false">
    <app-widget-icon>
        <i class="icon ion-ios-calendar"></i>
    </app-widget-icon>

    <app-widget-info>

    </app-widget-info>

    <!--<app-widget-settings-on-adding [settings]="settingsStorage" (syncSettings)="syncSettingsStorage()">
    </app-widget-settings-on-adding>-->

    <app-widget-settings>
        <div class="setting-item">
            <span class="setting-item-label">Widget Header</span>
            <mat-slide-toggle [(ngModel)]="settingShowHeader"></mat-slide-toggle>
        </div>
        <div class="setting-item">
            <span class="setting-item-label">Widget Name</span>
            <mat-form-field>
                <input matInput [(ngModel)]="settingHeaderName"
                       autocomplete="off" spellcheck="false" (keydown)="lengthLimit()">
            </mat-form-field>
        </div>
    </app-widget-settings>

    <app-widget-full>
        <div class="widget-width_toggle-wrap" style="top: 50%;">
            <div class="widget-width_toggle">
                <i *ngIf="!doubleWidth" class="fas fa-angle-right widget-width_arrow" (click)="stretchWindow($event.target)"></i>
                <i *ngIf="doubleWidth" class="fas fa-angle-left widget-width_arrow" (click)="stretchWindow($event.target)"></i>
            </div>
        </div>
      <div class="calendar-wrapper">
          <div class="calendar-content">
              <ng-template #modalContent let-close="close">
                  <div class="modal-header">
                      <h5 class="modal-title">Event action occurred</h5>
                      <!--<i class="icon ion-md-close-circle-outline close" (click)="closeModal()"></i>-->
                  </div>
                  <div class="modal-body">
                      <!-- <div>
                        Action:
                        <pre>{{ modalData?.action }}</pre>
                      </div> -->
                      <div>
                          Event:
                          <pre>{{ modalData?.event | json }}</pre>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Close</button>
                  </div>
              </ng-template>

              <ng-template #modalAddRemoveEvent let-close="close">
                  <div class="modal-header">
                      <h5 class="modal-title">Manage Event</h5>
                      <!--<i class="icon ion-md-close-circle-outline close" (click)="closeModal()"></i>-->
                  </div>
                  <div class="modal-body">
                      <div class="clearfix"></div>
                      <table class="table table-bordered">
                          <thead>
                          <tr>
                              <th>Title</th>
                              <th>color</th>
                              <th>Starts at</th>
                              <th>Ends at</th>
                              <th>Remove</th>
                          </tr>
                          </thead>

                          <tbody>
                          <tr *ngFor="let event of events; let index = index">
                              <td>
                                  <input
                                      type="text"
                                      class="form-control"
                                      [(ngModel)]="event.title"
                                      (keyup)="refresh.next()">
                              </td>
                              <td>
                                  <input
                                      type="color"
                                      [(ngModel)]="event.color.primary"
                                      (change)="refresh.next()">
                              </td>
                              <td>
                                  <input
                                      class="form-control"
                                      type="text"
                                      mwlFlatpickr
                                      [(ngModel)]="event.start"
                                      (ngModelChange)="refresh.next()"
                                      [altInput]="true"
                                      [convertModelValue]="true"
                                      [enableTime]="true"
                                      dateFormat="Y-m-dTH:i"
                                      altFormat="F j, Y H:i"
                                      placeholder="Not set">
                              </td>
                              <td>
                                  <input
                                      class="form-control"
                                      type="text"
                                      mwlFlatpickr
                                      [(ngModel)]="event.end"
                                      (ngModelChange)="refresh.next()"
                                      [altInput]="true"
                                      [convertModelValue]="true"
                                      [enableTime]="true"
                                      dateFormat="Y-m-dTH:i"
                                      altFormat="F j, Y H:i"
                                      placeholder="Not set">
                              </td>
                              <td>
                                  <button
                                      class="btn btn-danger"
                                      (click)="events.splice(index, 1); refresh.next()">
                                      Delete
                                  </button>
                              </td>
                          </tr>
                          </tbody>

                      </table>
                  </div>
                  <div class="modal-footer">
                      <button mat-raised-button class="" (click)="addEvent()">Add</button>
                      <button mat-raised-button type="button" class="" (click)="closeModal()">ok</button>
                  </div>
              </ng-template>

              <div style="margin-right: 0; margin-left: 0;" class="row text-center">
                  <div class="col-md-12">
                      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                  </div>
              </div>
              <div class="d-flex flex-wrap text-center">
                  <div style="margin-bottom: 5px;" [ngClass]="{'col-12': !doubleWidth, 'col-6': doubleWidth}">
                      <div class="btn-group calendar-buttons">
                          <div
                              class="btn btn-primary"
                              mwlCalendarPreviousView
                              [view]="view"
                              [(viewDate)]="viewDate"
                              (viewDateChange)="activeDayIsOpen = false">
                              Prev
                          </div>
                          <div
                              class="btn btn-primary button-today"
                              mwlCalendarToday
                              [(viewDate)]="viewDate">
                              Today
                          </div>
                          <div
                              class="btn btn-primary"
                              mwlCalendarNextView
                              [view]="view"
                              [(viewDate)]="viewDate"
                              (viewDateChange)="activeDayIsOpen = false">
                              Next
                          </div>
                      </div>
                  </div>
                  <div [ngClass]="{'col-12': !doubleWidth, 'col-6': doubleWidth}">
                      <div class="btn-group calendar-buttons">
                          <div
                              class="btn btn-primary"
                              (click)="view = CalendarView.Month"
                              [class.active]="view === CalendarView.Month">
                              Month
                          </div>
                          <div
                              class="btn btn-primary"
                              (click)="view = CalendarView.Week"
                              [class.active]="view === CalendarView.Week">
                              Week
                          </div>
                          <div
                              class="btn btn-primary"
                              (click)="view = CalendarView.Day"
                              [class.active]="view === CalendarView.Day">
                              Day
                          </div>
                      </div>
                  </div>
              </div>
              <br>
              <div style="margin-top: -15px;" [ngSwitch]="view">
                  <mwl-calendar-month-view
                      *ngSwitchCase="CalendarView.Month"
                      [viewDate]="viewDate"
                      [events]="events"
                      [refresh]="refresh"
                      [activeDayIsOpen]="activeDayIsOpen"
                      (dayClicked)="dayClicked($event.day)"
                      (eventClicked)="handleEvent('Clicked', $event.event)"
                      (eventTimesChanged)="eventTimesChanged($event)">
                  </mwl-calendar-month-view>
                  <mwl-calendar-week-view
                      *ngSwitchCase="CalendarView.Week"
                      [viewDate]="viewDate"
                      [events]="events"
                      [refresh]="refresh"
                      (eventClicked)="handleEvent('Clicked', $event.event)"
                      (eventTimesChanged)="eventTimesChanged($event)">
                  </mwl-calendar-week-view>
                  <mwl-calendar-day-view
                      *ngSwitchCase="CalendarView.Day"
                      [viewDate]="viewDate"
                      [events]="events"
                      [refresh]="refresh"
                      (eventClicked)="handleEvent('Clicked', $event.event)"
                      (eventTimesChanged)="eventTimesChanged($event)">
                  </mwl-calendar-day-view>
              </div>
              <div class="calendar_add-remove"><button mat-raised-button (click)="addRemoveEvent()">Add/Remove Event</button></div>
          </div>
      </div>
    </app-widget-full>
 </app-widget>
