<app-widget
    [type]="type"
    [frozen]="frozen"
    [hide]="hide"
    [remove]="remove"
    [minimizedSubj]="minimizedOnStart"
    (minimizedEmiter)="onMinimize($event)"
    [opened]="onOpened()"
    [showHeader]="settings.showHeader"
    [headerName]="settings.headerName"
    (reload)="reload()"
    (hideWidget)="hideWidget.emit()"
    (save)="saveSettings()"
    (init)="widgetInit()"
    [reloadable]="true"
    [poweredBy]="true"
    [poweredImg]="'assets/images/pawered/yahoo.png'">

    <app-widget-icon>
        <span [innerHTML]="weatherSvc.weatherIcon(settings)" matTooltip="{{settings.currentStatus}}" class="icon-status icon icon-button"></span>
        <div class="icon-temp">{{settings.currentTemperature || '-'}}°</div>
    </app-widget-icon>

    <app-widget-info>

    </app-widget-info>

    <!--<app-widget-settings-on-adding [settings]="settings" (syncSettings)="syncSettingsStorage()">
    </app-widget-settings-on-adding>-->

    <app-widget-settings>
        <div class="setting-item">
            <span class="setting-item-label">Widget Header</span>
            <mat-slide-toggle [(ngModel)]="settingShowHeader"></mat-slide-toggle>
        </div>
        <div class="setting-item">
            <span class="setting-item-label">Widget Name</span>
            <mat-form-field>
                <input matInput [(ngModel)]="settingHeaderName"
                       autocomplete="off" spellcheck="false" (keydown)="lengthLimit()">
            </mat-form-field>
        </div>

        <div class="setting-item setting_location-wrapper">
            <span class="setting-item-label">Location</span>
            <mat-radio-group class="setting_geo-radio" [(ngModel)]="settings.geoType" (change)="changeUsedLocation()">
                <mat-radio-button [value]="geoTypes.current">Use Current Location</mat-radio-button>
                <mat-radio-button [value]="geoTypes.custom">Use Custom Location</mat-radio-button>
            </mat-radio-group>
            <div class="widget-location">
                <mat-form-field>
                    <i *ngIf="isEditingLocation" class="fas fa-times movies-location_clear" (click)="clearInput()" matTooltip="close"></i>
                    <input [formControl]="searchField" type="text" aria-label="Assignee" matInput
                           [matAutocomplete]="auto" autocomplete="off" spellcheck="false">
                    <mat-icon class="movies-location_edit" (click)="editLocation()" *ngIf="!isEditingLocation" fontSet="fas" fontIcon="fa-pen" matTooltip="edit location"></mat-icon>
                    <mat-icon class="movies-location_save" (click)="saveCustomLocation()" *ngIf="isEditingLocation" fontSet="fas" fontIcon="fa-check" matTooltip="apply"></mat-icon>
                    <!--<i class="fas fa-map-marker movies-location_target" (click)="getMyLocation()"
                       *ngIf="isEditingLocation" matTooltip="Current Location"></i>-->
                </mat-form-field>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let location of showInAutoComplete" [value]="location" (click)="changeLocation(location)">{{location.city}}</mat-option>
                </mat-autocomplete>
            </div>
        </div>

        <!--<div class="setting-item">
            <mat-slide-toggle (change)="onLocationSettingsChange($event)" [checked]="settings.FindAutoAddress">
                Find location automatically
            </mat-slide-toggle>
        </div>-->
        <!--<div class="toggle-temp setting-item" (click)="$event.stopPropagation()">
            <span class="mat-slide-toggle-label mat-slide-toggle-content temp-custom">°C</span>
            <mat-slide-toggle (change)="onChangeTempUnit($event)" [checked]="isFahrenheit">°F</mat-slide-toggle>
        </div>-->
        <!--<div class="setting-item" [hidden]="settings.FindAutoAddress">
            <mat-form-field>
                <input matInput placeholder="Enter location name/zip code" [(ngModel)]="" (keyup)="updateUserSettingsAddress()"
                    autocomplete="off" spellcheck="false">
            </mat-form-field>
        </div>-->
    </app-widget-settings>

    <app-widget-full>
        <div class="weather-full-wrapper">
            <div class="widget-location">
                <div>{{locationInfo}}</div>

                <div class="weather-temp-unit toggle-temp" (click)="$event.stopPropagation()">
                    <span class="mat-slide-toggle-label mat-slide-toggle-content temp-custom">°C</span>
                    <mat-slide-toggle (change)="onChangeTempUnit($event)" [checked]="isFahrenheit">°F</mat-slide-toggle>
                </div>

                <!--<mat-form-field [class.editing]="isEditingLocation">
                    <i *ngIf="isEditingLocation" class="fas fa-times weather-location_clear" (click)="clearInput()" matTooltip="close"></i>
                    <input matInput placeholder="{{widgetGeo.city}}" [formControl]="searchField"
                        [matAutocomplete]="auto" autocomplete="off" spellcheck="false">
                    <mat-icon class="weather-location_edit" (click)="editLocation()" *ngIf="!isEditingLocation" fontSet="fas" fontIcon="fa-pen" matTooltip="edit location"></mat-icon>
                    <mat-icon class="weather-location_save" (click)="saveLocation()" *ngIf="isEditingLocation" fontSet="fas" fontIcon="fa-check" matTooltip="apply"></mat-icon>
                    <i class="fas fa-map-marker weather-location_target" (click)="getMyLocation()"
                       *ngIf="isEditingLocation" matTooltip="Detect my location"></i>
                </mat-form-field>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let location of showInAutoComplete" [value]="location" (click)="changeLocation(location)">{{location.city}}</mat-option>
                </mat-autocomplete>-->
            </div>

            <div class="weather-info flex-center">
                <div class="weather-icon">
                    <span [innerHTML]="weatherSvc.weatherIcon(settings)" matTooltip="{{settings.currentStatus}}"></span>
                </div>
                <div class="center">
                    <span class="temp">{{settings.currentTemperature}}°</span><br>
                    <span class="weather-status">{{settings.currentStatus}}</span>
                </div>
                <div class="other-info">
                    <span *ngIf="settings.currentWind && settings.currentUnit">
                        Wind: {{settings.currentWind.speed}}{{settings.currentUnit.speed}}
                    </span><br>
                    <span *ngIf="settings.currentAtmosphere">Perc: {{settings.currentAtmosphere.humidity}}%</span>
                </div>
            </div>
            <div class="results-wrapper flex-center" (click)="$event.stopPropagation()">
                <div class="weather-status weather-bar" *ngFor="let weather of settings.WeatherDatas.slice(1).slice(0, 5)">
                    <div class="weather-icon-status">
                        <span [innerHTML]="weatherSvc.weatherIcon(settings, weather.conditionCode.toString())" matTooltip="{{weather.condition}}"></span>
                    </div>
                    <div>
                        <span> {{weather.high}}°</span>
                        <span class="low-temp"> {{weather.low}}°</span>
                    </div>
                    <div class="day">{{weather.day}}</div>
                </div>
            </div>
        </div>
    </app-widget-full>
</app-widget>
