<div class="widgets-wrapper">
    <div class="widget"
            *ngFor="let layer of layers; let layerIdx = index"
            mwlDraggable
            [dropData]="{widget: layer.unit.widget}"
            (dragStart)="onDragStart($event, 'user', layer.unit.widget, layer)"
            (dragEnd)="onDragEnd($event, 'user', layer)"
            [ghostElementAppendTo]="document.body"
            dragActiveClass="drag-active"
            [validateDrag]="getValidateDragFn()"
            [ngClass]="{
                'double-height': layer.hasGhost,
                'spacer': layer.isSpacer
            }"
    >
        <ng-container *ngIf="!layer.isSpacer">
            <div [ngClass]="{'widget-content': true, 'transparent-widget': (position=='bottom' && layer.unit.widget.key=='w-time')}">
                <ndc-dynamic
                    [ndcDynamicComponent]="layer.unit.widget.component"
                    [ndcDynamicInputs]="{
                        key: layer.unit.widget.key,
                        type: isForBottomWidgets ? 'full' : 'icon',
                        defaultSettings: layer.unit.widget.settings,
                        hide: hideOpenedWidgets,
                        remove: layer.unit.remove,
                        opened: widgetOpened(),
                        userData: layer.unit.widget.userData,
                        position: position,
                        viewKey: storageKey
                    }"
                    [ndcDynamicOutputs]="{
                        userDataChanged: onUserDataChanged.bind(this, layer.unit),
                        hideWidget: removeLayer.bind(this, layerIdx)
                    }"
                ></ndc-dynamic>
            </div>
            <div class="widget-settings-wrapper" *ngIf="!isForBottomWidgets">
                <mat-icon
                    class="drag-icon"
                    fontSet="fa"
                    fontIcon="fa-arrows-alt"
                    (mouseover)="onDragIconOver($event)"
                    (mouseout)="onDragIconOut($event)"
                ></mat-icon>
                <mat-icon
                    class="remove-icon"
                    fontSet="fa"
                    fontIcon="fa-times"
                    (mouseover)="setWidgetsOverflowHidden($event)"
                    (mouseout)="setWidgetsOverflowScroll($event)"
                    (click)="layer.unit.remove.next()"
                ></mat-icon>
            </div>
        </ng-container>
    </div>
</div>
<div class="droppable-areas-wrapper" [ngClass]="{'highlighted': !!this.draggingWidget}">
    <div *ngFor="let layer of layers; let layerIdx = index" class="droppable-area-wrapper">
        <div *ngIf="draggingLayer !== layer"
            class="droppable-area"
            mwlDroppable
            (dragEnter)="onDragEnter($event, layer, layerIdx)"
            [ngClass]="{
                'highlighted': !!this.draggingWidget,
                'drop-over-active': layer.hasGhost
            }"
        >
            <div class="droppable-area-bg"></div>
        </div>
    </div>
</div>

<ng-template #deleteWidget>
    <div class="delete-widget_wrapper">
        <p class="delete-widget_title">Are you sure you want to remove Widget?</p>
        <div class="delete-widget_buttons">
            <button mat-stroked-button type="button" >Yes</button>
            <button mat-stroked-button type="button" >No</button>
        </div>
    </div>
</ng-template>
