/*@mixin thin-scroller {

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        border: 3px solid black;
        margin: 10px 0;
        background-color: #e9e9e9;
    }

    &::-webkit-scrollbar-thumb {
        background: #8e8e8e;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #727272;
    }
}*/
@mixin thin-scroller {

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #e9e9e9;
    }

    &::-webkit-scrollbar-thumb {
        background: #8e8e8e;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #727272;
    }
}
