@import "../../../common-styles";

.calculator-wrapper {
    font-size: $title_font-size;
    color: $title_color;
    width: 100%;

    mat-card {
        background: unset;
    }

    .calculator_content {
        padding: 0 !important;
        height: 100%;

        .calculator_border {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            border-bottom: 2px solid rgba(255, 255, 255, .3);
        }

        .calculator_input-data {
            color: white;
        }

        .calculator_result {
            width: 100%;
            font-size: 20px;
            height: 40px;
            text-align: center;
            background-color: unset;
            transition: all .3s;
            border: none;
        }
        .calculator_panel {
            display: flex;
            .calculator_input {
                //background: white;
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                > button {
                    flex-basis: 25%;
                    border: none;
                    transition: background .1s;
                    box-shadow: inset 1px 1px rgba(255, 255, 255, .3) !important;
                    min-width: unset;
                    line-height: unset;
                    padding: 10px 0;
                    margin: 0 !important;
                    border-radius: none !important;
                }
                .mat-icon-button {
                    border-radius: none !important;
                }
                > button:hover {
                    background: #8BE !important;
                }
            }
        }
    }
}
