<div class="add-widget-popup-wrapper">
    <div class="add-widget-popup-content">
        <form class="add-widget_search-form">
            <mat-form-field>
                <input type="text" placeholder="Widget name" matInput [formControl]="searchControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let widget of forSearchWidget | async" [value]="widget" (click)="changeTab(widget)">
                        <i class="{{iconClass(widget.key)}} add-widget_search-icon">{{iconText(widget.key)}}</i>{{widget.title}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div class="filter-widget-group">
                <mat-form-field>
                    <mat-select [(value)]="widgetTypeSelected" panelClass="setting-item_select" [disableOptionCentering]="true">
                        <mat-option *ngFor="let type of widgetTypeOptions" [value]="type.value"
                                    (click)="filterWidgetList('type')">
                            {{type.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="widgetTypeSelected=='all'" class="web-filter">
                    <div class="web-category-select-box">
                        <mat-form-field>
                            <mat-select [(value)]="widgetCatSelected" panelClass="setting-item_select" [disableOptionCentering]="true">
                                <mat-option *ngFor="let type of allCategoryOptions" [value]="type.value"
                                            (click)="filterWidgetList('category')">
                                    {{type.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="web-country-select-box">
                        <mat-form-field>
                            <mat-select [(value)]="widgetCountrySelected" panelClass="setting-item_select" [disableOptionCentering]="true">
                                <mat-option *ngFor="let type of allCountryOptions" [value]="type.value"
                                            (click)="filterWidgetList('country')">
                                    {{type.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div *ngIf="widgetTypeSelected==='web'" class="web-filter">
                    <div class="web-category-select-box">
                        <mat-form-field>
                            <mat-select [(value)]="widgetCatSelected" panelClass="setting-item_select" [disableOptionCentering]="true">
                                <mat-option *ngFor="let type of webCategoryOptions" [value]="type.value"
                                            (click)="filterWidgetList('category')">
                                    {{type.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="web-country-select-box">
                        <mat-form-field>
                            <mat-select [(value)]="widgetCountrySelected" panelClass="setting-item_select" [disableOptionCentering]="true">
                                <mat-option *ngFor="let type of webCountryOptions" [value]="type.value"
                                            (click)="filterWidgetList('country')">
                                    {{type.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div *ngIf="widgetTypeSelected==='native'" class="native-filter">
                    <div class="native-category-select-box">
                        <mat-form-field>
                            <mat-select [(value)]="widgetCatSelected" panelClass="setting-item_select" [disableOptionCentering]="true">
                                <mat-option *ngFor="let type of nativeCategoryOptions" [value]="type.value"
                                            (click)="filterWidgetList('category')">
                                    {{type.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="native-country-select-box">
                        <mat-form-field>
                            <mat-select [(value)]="widgetCountrySelected" panelClass="setting-item_select" [disableOptionCentering]="true">
                                <mat-option *ngFor="let type of nativeCountryOptions" [value]="type.value"
                                            (click)="filterWidgetList('country')">
                                    {{type.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div *ngIf="widgetTypeSelected==='rss'" class="rss-filter">
                    <div class="rss-category-select-box">
                        <mat-form-field>
                            <mat-select [(value)]="widgetCatSelected" panelClass="setting-item_select" [disableOptionCentering]="true">
                                <mat-option *ngFor="let type of rssCategoryOptions" [value]="type.value"
                                            (click)="filterWidgetList('category')">
                                    {{type.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="rss-country-select-box">
                        <mat-form-field>
                            <mat-select [(value)]="widgetCountrySelected" panelClass="setting-item_select" [disableOptionCentering]="true">
                                <mat-option *ngFor="let type of rssCountryOptions" [value]="type.value"
                                            (click)="filterWidgetList('country')">
                                    {{type.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>

        <mat-tab-group headerPosition="above" [selectedIndex]="widgetIndex" >
            <mat-tab *ngFor="let widget of widgets" [disabled]="widget.settings.widgetDisabled">
                <ng-template mat-tab-label>
                    <div class="add-widget_icon-wrapper" (click)="onTabChange(widget)">
                        <div class="add-widget_icon">
                            <i *ngIf="!widget.settings.isRss" class="{{iconClass(widget.key)}}">{{iconText(widget.key)}}</i>
                            <span class="app-widget-rss-logo" *ngIf="widget.settings.isRss && widget.settings.logo" [style.backgroundImage]="'url(' + widget.settings.logo + ')'"></span>
                            <i *ngIf="widget.settings.isRss && !widget.settings.logo" class="{{iconList['w-news'].className}}"></i>
                            <p class="app-widget_name truncate-text">{{widget.title}}</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template matTabContent>
                    <div class="widget-info">
                        <div *ngIf="showTabContent" class="widget-info_title">{{widget.title}}</div>
                        <div *ngIf="showTabContent" class="widget-component-wrapper" [class.small]="widget.settings.cellsCount === 1"
                             mwlDraggable
                             [dropData]="{widget: widget}"
                             (dragStart)="onDragStart($event, 'available', widget)"
                             (dragEnd)="onDragEnd($event, 'available')"
                             [ghostElementAppendTo]="document.body"
                             [validateDrag]="getValidateDragFn()"
                             dragActiveClass="drag-active"
                             [style.height.px]="widget.settings.height"
                        >
                            <div class="widget-settings-wrapper">
                                <i class="icon ion-md-move drag-icon"
                                   (mouseover)="onDragIconOver($event)"
                                   (mouseout)="onDragIconOut($event)"
                                ></i>
                            </div>
                            <ng-container
                                [ngComponentOutlet]="widget.component"
                                [ndcDynamicInputs]="{
                                    type: 'on-adding',
                                    key: widget.key,
                                    defaultSettings: widget.settings,
                                    userData: '',
                                    isFromAddPopUp: true
                                }"
                                [ndcDynamicOutputs]="{
                                    userDataChanged: onUserDataChanged.bind(this, widget)
                                 }"
                            ></ng-container>
                        </div>
                        <div *ngIf="!showTabContent" class="add-widget_icon" style="font-size: 30px; cursor: pointer" (click)="onTabChange(widget)">
                            <i *ngIf="!widget.settings.isRss" class="{{iconClass(widget.key)}}"></i>
                            <span class="app-widget-rss-logo" *ngIf="widget.settings.isRss && widget.settings.logo" [style.backgroundImage]="'url(' + widget.settings.logo + ')'"></span>
                            <i *ngIf="widget.settings.isRss && !widget.settings.logo" class="{{iconList['w-news'].className}}"></i>
                        </div>
                    </div>
                    <div class="add-widget_toPage">
                        <div class="add-widget_toPage-full">
                            <div>Add to</div>
                                <mat-form-field>
                                    <mat-select [formControl]="selectField" panelClass="setting-item_select-bottom" [disableOptionCentering]="true">
                                        <mat-option *ngFor="let view of fullViews; let ind = index" [value]="view">{{view.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            <div>Page</div>
                            <button mat-raised-button type="button" (click)="addWidgetToFullPage(widget)">Add</button>
                        </div>
                        <div class="add-widget_toPage-home">
                            <button mat-raised-button type="button" (click)="addWidgetToHomePage(widget)" (mouseover)="addToHomeMouseIn(widget, $event.target)" (mouseout)="addToHomeMouseOut(widget, $event.target)">Add Quick Access on Home Page</button>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
