@import '../../../../../src/sass/mixins';

.app-add-widget-modal-overlay {
    @include thin-scroller();
    border-radius: 15px;
    max-height: 90%;
    max-width: 90vw !important;
    min-width: 70vw;
    overflow: auto;
    padding: 15px;
    opacity: 1;
    background-color: black;
    width: 38vw;
    height: 650px;

    .mat-dialog-container {
        background-color: transparent;
        padding: 0;
        box-shadow: none;
        max-height: unset;

        app-widgets-add-popup {
            mat-tab-header {
                width: 50%;
                .mat-tab-labels {
                    flex-direction: row;
                    flex-wrap: wrap;
                    position: relative;

                    .mat-tab-label {
                        padding: 5px;
                        height: unset;
                        min-width: unset;
                        white-space: unset;

                        .mat-tab-label-content {
                            flex-direction: column;
                            width: 70px;
                            white-space: unset;
                            .app-widget_name {
                                font-size: 12px;
                                max-width: 70px;
                                height: 3em;
                                text-align: center;
                            }

                            i {
                                font-size: 40px;
                                line-height: 1;
                            }

                            .app-widget-rss-logo {
                                width: 40px;
                                height: 40px;
                                background-position: center;
                                background-size: cover;
                                background-color: #fff;
                                border-radius: 9px;
                            }
                        }

                        p {
                            margin: 0;
                        }

                        &.mat-tab-disabled {
                            width: 100%;
                            font-style: italic;
                            color: rgba(255,255,255,.5);
                            cursor: default;

                            .mat-tab-label-content {
                                width: 100%;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

.add-widget_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-widget_icon-wrapper {
    display: flex;
    align-items: flex-start;
}

.add-widget-popup-wrapper {
    height: 100%;
    width: 100%;
    color: white;
    max-width: unset;
    overflow: hidden;
    box-sizing: border-box;

    .add-widget-popup-content {
        border-radius: 6px;
        height: 100%;
        width: 100%;
        overflow-y: auto;
        margin: 0;
        text-align: left;
        box-sizing: border-box;

        .add-widget_search-form {
            position: absolute;
            z-index: 55555;
            width: 33vw;
            display: flex;

            .mat-form-field-type-mat-input {
                width: 35%;
            }

            .filter-widget-group {
                display: flex;
                justify-content: space-around;
                align-items: center;
                position: relative;
                text-align: left;
                margin-left: 7px;
                width: 65%;

                .mat-form-field-flex {
                    border: 1px solid #fff;
                    padding: 0 4px;

                    .mat-form-field-infix {
                        border: 0;
                    }
                }

                .mat-form-field-type-mat-select {
                    width: 95px;
                    font-size: 10px;
                    margin-left: 3px;
                    text-transform: capitalize;
                }

                .web-filter {
                    .web-category-select-box {
                        display: inline-block;
                        position: relative;
                        text-align: left;

                        .mat-form-field-type-mat-select {
                            width: 90px;
                        }
                    }
                    .web-country-select-box {
                        display: inline-block;
                        position: relative;
                        text-align: left;

                        .mat-form-field-type-mat-select {
                            width: 60px;
                        }
                    }
                }

                .native-filter {
                    .native-category-select-box {
                        display: inline-block;
                        position: relative;
                        text-align: left;

                        .mat-form-field-type-mat-select {
                            width: 90px;
                        }
                    }
                    .native-country-select-box {
                        display: inline-block;
                        position: relative;
                        text-align: left;

                        .mat-form-field-type-mat-select {
                            width: 60px;
                        }
                    }
                }

                .rss-filter {
                    .rss-category-select-box {
                        display: inline-block;
                        position: relative;
                        text-align: left;

                        .mat-form-field-type-mat-select {
                            width: 90px;
                        }
                    }
                    .rss-country-select-box {
                        display: inline-block;
                        position: relative;
                        text-align: left;

                        .mat-form-field-type-mat-select {
                            width: 60px;
                        }
                    }
                }
            }
        }

        .widget-info {
            height: 75%;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;

            .add-widget_preview-icon {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .widget-info_title {
                width: 100%;
                text-align: center;
                font-size: 20px;
            }

            .widget-component-wrapper {
                height: auto !important;
                max-width: 90%;
                position: relative;
                max-height: 90%;
                //margin: auto;
                border: 2px solid #5e5e5e;
                border-radius: 15px;
                overflow: hidden;

                .drive_full-wrapper {
                    width: 350px !important;
                }

                &.small {
                    width: 50%;
                    margin: 0 auto;
                }

                .widget-settings-wrapper {
                    position: absolute;
                    right: 7px;
                    top: 7px;
                    height: 50px;
                    z-index: 10;
                    font-size: 18px;
                    margin-right: 10px;
                    .drag-icon {
                        color: #ff652f;
                        cursor: pointer;
                    }
                }

                iframe {
                    height: 350px;
                }
            }
        }

        .mat-tab-labels {
            display: flex;
            position: relative;
            flex-direction: column;
        }

        .mat-tab-group {
            flex-direction: unset !important;
            height: 100%;
        }

        .mat-tab-header {
            width: 50%;
            float: left;
            padding: 50px 0 0 0;
        }

        .mat-tab-body-wrapper {
            float: left;
            width: 70%;
        }

        .mat-ink-bar {
            background-color: #c2185b;
            display: none !important;
        }

        .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
            display: none !important;
        }

        .mat-tab-label {
            cursor: pointer;
            box-sizing: border-box;
            opacity: .9;
            text-align: left !important;
            display: inline-flex;
            justify-content: left !important;
        }

        .mat-tab-label-container {
            border-right: 1px solid #ffffff52;
            overflow-y: auto;
        }

    }
}

body > .widget-component-wrapper.drag-active {
    z-index: 9999;

    .widget-settings-wrapper {
        position: absolute;
        right: 7px;
        top: 7px;
        height: 50px;
        z-index: 10;
        font-size: 18px;
        margin-right: 5px;
    }
}

.truncate-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}

.add-widget_toPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25%;
    justify-content: center;

    .add-widget_toPage-full {
        display: flex;
        width: 80%;
        justify-content: space-around;
        align-items: center;

        .mat-form-field {
            max-width: 150px;
        }
    }
    .add-widget_toPage-home {

    }

    .mat-raised-button {
        cursor: pointer;
        min-width: 0;
        line-height: 26px;
    }
}
