.sing-in_wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    //background-color: transparent;

    .sign-in_container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 387px;
        width: 350px;

        .login_container {
              background-color: #0000005d;
              border-radius: 20px;
              overflow: hidden;
              height:100%;
              box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
              -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
              -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
              -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
              -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
        }


        .sign-in_heading {
            font-size: 18px;
            color: #fff;
            line-height: 1.2;
            text-align: center;
            display: block;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            background-color: #000000cd;;
            padding-top: 13px;
            padding-bottom: 13px;
            display: inline-block;
            position: relative;
            opacity: 0.5;
            margin-bottom: 22px;
        }

        .sign-in_wellcome {
            margin-bottom: 10px;
            font-size: 13px;
            font-weight: 600;
            text-align: center;
            color: #F44336;
            margin-top: -18px;
        }

        .sign-in_form {
            display:flex;
            flex-direction: column;
            height:100%;

            .sign-in_pass-wrapper {
                width: 100%;
                position: relative;
                mat-form-field {
                    width: 100%;
                }
            }

            .sign-in_recover-pass {
                position: absolute;
                top: 59px;
                left: 15px;
                cursor: pointer;
                &:hover {
                    font-size: 18px;
                    transition: font-size .2s ease-out;
                }
            }

            .sign-in_invalid-message {
                position: absolute;
                top: -28px;
                color: #F44336;
                font-weight: 600;
            }

            .sign-in_buttons {
                position: relative;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                margin-top: 10px;

                .sign-in_top {
                    display: flex;
                    justify-content: space-between;
                    margin: 0.25em 0.9em;
                }
                .sign-in_active {
                    border-radius: 5px;
                    background-color: rgba(155, 155, 255, .4);
                }
                .sign-in_anonymous{
                     border-radius: 5px;
                }
                .sign-in_register, .sign-in_login {
                    position: absolute;
                    padding-left: 40px;

                    .login-link{
                        text-decoration: underline;
                        cursor: pointer;
                        &:hover {
                            font-size: 18px;
                            transition: font-size .2s ease-out;
                        }
                    }
                }

                .top122{
                        top: 122px;
                }

                .top48{
                        top: 48px;
                }
            }

            .mat-form-field-wrapper {
                     margin: .25em 0.9em;
            }

            .mat-form-field-outline-thick, .mat-form-field-outline {
                border-radius: 5px;
                color: rgba(255,255,255, .5) !important;
            }

            .mat-input-element {
                background-color: transparent !important;
            }

            .mat-warn .mat-input-element, .mat-form-field-invalid .mat-input-element, .mat-form-field-label, .mat-form-field-required-marker {
                color: rgba(255,255,255, .9) !important;
            }
            .mat-input-element {
                caret-color: rgba(255,255,255, .9) !important;
            }

            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus {
                -webkit-box-shadow: 0 0 0px 1000px #000000cd inset;
                -webkit-text-fill-color: rgba(255,255,255, .9) !important;
            }
        }
    }
}

.registration-modal-overlay {
    overflow: hidden;
    .mat-dialog-container {
        background-color: black;
        overflow: hidden;
        padding: 30px;
        border-radius: 15px;
        box-shadow: none;
        .success-register {
            display: flex;
            flex-direction: column;
            align-items: center;

            .success-register_title {
                font-size: 16px;
                margin-bottom: 25px;
            }
            .success-register_toggle {
                margin-bottom: 10px;
            }
        }
    }
}

.registration-modal-backdrop {
    background-color: rgba(0,0,0, .7);
}

.mat-slide-toggle-thumb {
    background-color: #ef9a9a !important;
}
.mat-slide-toggle-bar {
    background-color: rgba(239,154,154,.5);
}
