<div class="sing-in_wrapper">
    <!--<div class="sign-in_contant">
        <h1 class="sign-in_heading">Sign in</h1>
        <button class="sign-in_button" (click)="signInAnonymously()" type="button">Anonymously</button>
        <button class="sign-in_button" (click)="signInWithGithub()" type="button">GitHub</button>
        <button class="sign-in_button" (click)="signInWithGoogle()" type="button">Google</button>
        <button class="sign-in_button" (click)="signInWithTwitter()" type="button">Twitter</button>
        <button class="sign-in_button" (click)="signInWithFacebook()" type="button">Facebook</button>
    </div>-->

    <div class="app-logo" style="font-size: 35px; margin-top: -55px; padding-bottom: 10px;" [matTooltip]="'Dashify'">Dashify</div>

    <div class="sign-in_container">
        <div class="login_container">
        <form class="sign-in_form" #f="ngForm" (ngSubmit)="f.form.valid && creatOrLogin()">
            <h1 *ngIf="!registrationForm" class="sign-in_heading">Login</h1>
            <h2 *ngIf="welcomeMessage" class="sign-in_wellcome">{{welcomeMessage}}</h2>
            <mat-form-field appearance="outline">
                <div *ngIf="email.invalid && newUser.email" class="sign-in_invalid-message">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.pattern">Email invalid</div>
                </div>
                <mat-label>Email</mat-label>
                <input matInput name="email" #email="ngModel" [(ngModel)]="newUser.email" type="email"
                       pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" required spellcheck="false">
            </mat-form-field>
            <div class="sign-in_pass-wrapper">
                <mat-form-field appearance="outline">
                    <div *ngIf="password.invalid && newUser.pass" class="sign-in_invalid-message">
                        <div *ngIf="password.errors.required">Password is required</div>
                        <div *ngIf="password.errors.minlength">At least 6 characters</div>
                    </div>
                    <mat-label>Password</mat-label>
                    <input matInput name="password" #password="ngModel" [(ngModel)]="newUser.pass"
                           type="password" minlength="6" required>
                </mat-form-field>
            </div>
            <mat-form-field *ngIf="registrationForm" appearance="outline">
                <div *ngIf="password2.invalid && repeatPass" class="sign-in_invalid-message">
                    <div *ngIf="password2.errors.required">Password is required</div>
                    <div *ngIf="password2.errors.minlength">At least 6 characters</div>
                </div>
                <div *ngIf="password2.valid && repeatPass != newUser.pass && repeatPass" class="sign-in_invalid-message">
                    <div *ngIf="repeatPass != newUser.pass">Required same password</div>
                </div>
                <mat-label>Repeat password</mat-label>
                <input matInput name="password" #password2="ngModel" [(ngModel)]="repeatPass"
                       type="password" minlength="6" required>
            </mat-form-field>

            <div class="sign-in_buttons">
                <div class="sign-in_top">
                    <button class="sign-in_active" mat-raised-button type="submit">Login</button>
                    <button *ngIf="!registrationForm" class="sign-in_anonymous" mat-raised-button type="button" (click)="loginAnonymously()">Skip Registration</button>
                </div>
                <div *ngIf="!registrationForm" class="sign-in_register top122">New to Dashify? <span class="login-link">Create a free account</span></div>
            </div>
        </form>
        </div>
    </div>
</div>

<ng-template #successRegister>
    <div class="success-register">
        <div class="success-register_title">We found dashify data on your computer</div>
        <div class="success-register_toggle">register with existing data <mat-slide-toggle [color]="'warn'" [(ngModel)]="anonymouseStorage" [checked]="false"></mat-slide-toggle> register with new data (all local data will be deleted)</div>
        <button mat-raised-button type="button" (click)="useAnonymouseStorage()">Register</button>
        <mat-spinner [value]="80" *ngIf="showSpinner" color="primary" class="events_spinner"></mat-spinner>
    </div>
</ng-template>
<ng-template #askName>
    <div class="success-register">
        <div class="success-register_title">Put your username</div>
        <mat-form-field appearance="outline">
            <input matInput type="text" required [(ngModel)]="userName" autocomplete="false" spellcheck="false"/>
        </mat-form-field>
        <button mat-raised-button type="button" (click)="endRegistration()">Confirm</button>
    </div>
</ng-template>
