<app-widget
    [type]="type"
    [frozen]="frozen"
    [hide]="hide"
    [open]="open"
    [remove]="remove"
    [minimizedSubj]="minimizedOnStart"
    (minimizedEmiter)="onMinimize($event)"
    [opened]="onOpened()"
    [showHeader]="settings.showHeader"
    [headerName]="settings.headerName"
    (reload)="reload()"
    (hideWidget)="hideWidget.emit()"
    (save)="saveSettings()"
    (init)="widgetInit()"
    [reloadable]="true">

    <app-widget-icon>
        <i class="icon ion-logo-youtube"></i>
    </app-widget-icon>

    <app-widget-info>

    </app-widget-info>

    <app-widget-settings>
        <div class="setting-item">
            <span class="setting-item-label">Widget Header</span>
            <mat-slide-toggle [(ngModel)]="settingShowHeader"></mat-slide-toggle>
        </div>
        <div class="setting-item">
            <span class="setting-item-label">Widget Name</span>
            <mat-form-field>
                <input matInput [(ngModel)]="settingHeaderName"
                       autocomplete="off" spellcheck="false" (keydown)="lengthLimit()">
            </mat-form-field>
        </div>
    </app-widget-settings>

    <app-widget-full>
        <form (ngSubmit) = "getDefinition(word)">
            <mat-form-field class = "dictionary-input-field">
                <input matInput placeholder="What you want to search" autocomplete="off" [(ngModel)]="word" name = "word">
                <mat-icon matSuffix (click) = "getDefinition(word)" class = "cursor-pointer">search</mat-icon>
            </mat-form-field>
        </form>
        <div class = "output" [ngClass] = "{'v-scroll': isFromAddPopUp}" *ngIf = "definition && definition.uses">
            <button mat-button class = "show-more-button" (click) = "showFormsDetail()">{{showMoreButton}}</button>
            <h4 class = "margin-none">{{definition.term}}</h4>
            <h5>/{{definition.pronunciation}}/</h5>
            <div class = "explaination">
                <i class = "form"> {{definition.uses[0].form}} </i>
                <div *ngIf="showForms" [ngClass]="{'forms-width':isFromAddPopUp}">
                    <span *ngFor = "let form of definition.uses[0].forms">
                        <i class = "desc"> {{form.desc}}:</i>
                        <span class = "form"> {{ form.form }};</span>
                    </span>
                </div>
            </div>
            <ol class = "definitions">
                <li *ngFor="let def of definition.uses[0].definitions">
                    <p class = "definition" *ngIf="def.definition" [innerHTML] = "def.definition"></p>
                    <q class = "example" *ngIf="def.example" [innerHTML] = "def.example"></q>
                    <div class = "synonyms" *ngIf = "def.synonymGroups && def.synonymGroups.lengh > 0">
                        <i>Synonyms:</i>
                        <span class = "syn-group" *ngFor = "let group of def.synonymGroups">
                            <span *ngFor = "let syn of group.synonyms" let i = "index">
                                <span *ngIf = "i">,</span>{{syn.text}}
                            </span>
                            <span>;</span>
                        </span>
                    </div>
                    <div class = "antonyms" *ngIf = "def.antonymGroups && def.antonymGroups.lengh > 0">
                        <i>Antonyms:</i>
                        <span class = "ant-group" *ngFor = "let group of def.antonymGroups">
                            <span *ngFor = "let ant of group.antonyms">
                                <span *ngIf = "i">,</span>{{syn.text}}
                                {{ant.text}}
                            </span>
                            <span>;</span>
                        </span>
                    </div>
                </li>
            </ol>
        </div>
    </app-widget-full>
</app-widget>
