.dictionary-input-field {
    padding-left: 15px;
}
.output {
    margin-left: 15px;
    .definitions {
        .definition {
            margin: 0px;
        }
    }
    .explaination {
        .desc {
            color: #737373 !important;
        }
        .hide {
            height: 0px;
        }
        .transition-forms {
            transition: 2s;
        }
        .forms-width {
            width: 300px;
        }
    }
    ol.definitions {
        margin-left: -15px;
    }
    .show-more-button {
        float: right;
        line-height: 28px;
        padding: 0px 6px;
    }
}
.v-scroll {
    overflow: auto;
    max-height: 150px;
}

.margin-none {
    margin: 0px;
}
.cursor-pointer {
    cursor: pointer;
}