<app-widget
    [type]="type"
    [frozen]="frozen"
    [hide]="hide"
    [remove]="remove"
    [minimizedSubj]="minimizedOnStart"
    (minimizedEmiter)="onMinimize($event)"
    [opened]="onOpened()"
    [showHeader]="settings.showHeader"
    [headerName]="settings.headerName"
    (reload)="reload()"
    (hideWidget)="hideWidget.emit()"
    (save)="saveSettings()"
    (init)="widgetInit()"
    [reloadable]="true"
    [subType]="'iframe'">

    <app-widget-icon>
        <i class="icon ion-logo-chrome"></i>
    </app-widget-icon>

    <app-widget-info>

    </app-widget-info>

    <!--<app-widget-settings-on-adding [settings]="settingsStorage" (syncSettings)="syncSettingsStorage()">
    </app-widget-settings-on-adding>-->

    <app-widget-settings>
        <!--<div class="setting-item">
            <span class="setting-item-label">Widget Header</span>
            <mat-slide-toggle [(ngModel)]="iframeSvc.settingShowHeader"></mat-slide-toggle>
        </div>
        <div class="setting-item">
            <span class="setting-item-label">Widget Name</span>
            <mat-form-field>
                <input matInput [(ngModel)]="iframeSvc.settingHeaderName"
                       autocomplete="off" spellcheck="false">
            </mat-form-field>
        </div>-->
    </app-widget-settings>

    <app-widget-full>
        <div class="full-wrapper">
            <div class="widget-width_toggle-wrap">
                <div class="widget-width_toggle">
                    <i *ngIf="!doubleWidth" class="fas fa-angle-right widget-width_arrow" (click)="stretchWindow($event.target)"></i>
                    <i *ngIf="doubleWidth" class="fas fa-angle-left widget-width_arrow" (click)="stretchWindow($event.target)"></i>
                </div>
            </div>
            <form (ngSubmit)="submitUrl()" *ngIf="!url">
                <mat-form-field>
                    <input matInput name="inputUrl" [(ngModel)]="inputUrl" placeholder="Please Enter Website Url" autocomplete="off"
                        spellcheck="false">
                </mat-form-field>
            </form>
            <div class="iframe-wrapper" *ngIf="url">
                <iframe height="100%" width="100%" [src]="url" sandbox="allow-same-origin allow-popups allow-forms allow-scripts"
                    seamless="" frameborder="0" style="border:0"></iframe><!--allow-pointer-lock allow-modals allow-popups allow-top-navigation-by-user-activation-->
            </div>
        </div>
    </app-widget-full>

    <app-widget-settings></app-widget-settings>
</app-widget>
