@import "../../common-styles";

.app-desk {
    display: flex;
    position: relative;
    z-index: 10;
    flex-direction: column;
    height: 100%;

    .driver-content_full-view {
        margin: 0 !important;
    }

    .app-desk_header {
        width: 100%;
        display: flex;
        margin-top: -3px;
        padding: 8px 3.5vw !important;
        box-sizing: border-box;

        .app-desk_left-buttons {
            display: flex;
            justify-content: space-between;
            position: absolute;
            align-items: center;
            left: 1.1vw;

            .app-desk_page-menu-button {
                margin-right: 1.7vw;
                cursor: pointer;
            }
        }

        .app-desk_search {
            opacity: 1 !important;
            width: 25%;
            padding-left: .5vw;
            padding-right: .5vw;
        }
        .app-desk_links {
            width: 50%;
            padding-left: .5vw;
            padding-right: .5vw;
        }
        .app-desk_menu {
            display: flex;
            padding: 0 1vw;
            padding-left: 1.5vw;
            justify-content: space-around;
            width: 25%;

            .main-menu_button {
                min-width: 15px;
                max-width: 25px;
                &:active {
                    color: #ff652f;
                }
            }
        }
    }

    .mat-button {
        min-width: 25px;
        width: 25px;
        padding: 0;
        font-size: 25px;
        margin-right: 5px;
    }

    .mat-button:focus, button:focus {
        background-color: transparent !important;
        outline: unset !important;
    }

    /*::ng-deep .mat-button:hover {
        background-color: transparent !important;
        outline: unset !important;
    }
    ::ng-deep .mat-button-focus-overlay {
        background-color:transparent !important;
    }*/

    .search-bar {
        position: relative;
        width: 100%;
        .selected-menu {
            float: right;
            position: relative;
            top: 0;
            right: 10px;

            mat-icon {
                display: unset;
                &:after {
                    display: inline-block;
                    width: 0;
                    height: 0;
                    margin-left: .2em;
                    vertical-align: .7em;
                    content: "";
                    border-top: .15em solid;
                    border-right: .15em solid transparent;
                    border-bottom: 0;
                    border-left: .15em solid transparent;
                }
            }
        }
    }

    .popover {
        border-radius: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 8px 16px;
        position: relative;
        z-index: 10;
        background-color: transparent;
        border-bottom: unset;

        .flex-spacer {
            flex: 1;
        }

        .search-menus {
            display: flex;
            justify-content: space-around;
            padding-left: 90px;
        }
    }

    ::ng-deep.mat-tab-group {
        height: 100%;


        .mat-tab-header {
            display: none;
        }

        .mat-tab-body-wrapper {
            height: 100%;
        }

        .main-container {
            height: 100%;
            background-color: transparent;

            .mat-drawer {
                background-color: transparent;
                display: flex;
                overflow-y: visible;
                align-items: center;

                .change-view-button {
                    height: 100%;
                    width: calc(3vw - 5px);
                    text-align: center;
                    //min-width: 40px;
                    padding: .5vw;
                    font-size: 28px;
                    margin: 0;
                }
            }

            &.icon-view_container {
                mat-drawer-content {
                    overflow: hidden;
                }
            }
        }
    }

    .desk-content {
        height: 100%;
        overflow: hidden;

        &.has-left-arrow {
            margin-left: 3vw;
        }

        &.has-right-arrow {
            margin-right: 3vw;
        }

        &::-webkit-scrollbar {
            width: 10px !important;
        }
    }

    .img-list_button {
        background-image: url(https://1.bp.blogspot.com/-UUXaK5GCj-k/UcsKJRMgkVI/AAAAAAAACfM/sePP_H08JTQ/s1600/1.jpg);
        background-size: 250%;
        background-position-x: 0;
        background-repeat: repeat-x;
        display: inline-block;
        border-radius: 100%;
        height: 25px;
        z-index: 9999;
        top: 7px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);

        .img-list_arrow {
            position: relative;
            bottom: -12px;
            left: -10px;
        }
    }

    .img-list_button:hover {
        cursor: pointer;
    }
}

mat-toolbar.popover {
    overflow: visible;
}
