<div class="app-desk">
    <mat-toolbar class="popover app-desk_header">
        <div class="app-desk_menu">
            <button mat-button (click)="onAddUnit($event)" class="add-widget-button main-menu_button" matTooltip="Add Widget">
                <i class="icon ion-md-add"></i>
            </button>
        </div>
    </mat-toolbar>

    <mat-tab-group [selectedIndex]="viewTypeIndex + currentViewIndex" *ngIf="allWidgets" [@.disabled]="firstLoad">
        <mat-tab label="icon widgets">
            <ng-template matTabContent>
                <mat-drawer-container class="main-container icon-view_container">
                    <mat-drawer mode="side" opened position="end">
                        <button mat-button class="change-view-button" (click)="goFullView()">
                            <i class="icon ion-ios-arrow-forward change-view-icon"></i>
                        </button>
                    </mat-drawer>
                    <mat-drawer-content>
                        <div class="desk-content has-right-arrow">
                            <app-icon-view
                                *ngIf="!!currentView"
                                [addUnit]="addIconUnit"
                                [widgets]="iconWidgets"
                                [hideOpenedWidgets]="hideOpenedW"
                                [viewChangeEvent]="viewChange"
                                [currentView]="currentView"
                            ></app-icon-view>
                        </div>
                        <div class="bg-img_info icon_bg-img_info">
                            <div><a href="#" class="bg-img_title" target="_blank"></a></div>
                            <div><a href="#" class="bg-img_owner" target="_blank"></a></div>
                        </div>
                    </mat-drawer-content>
                </mat-drawer-container>
            </ng-template>
        </mat-tab>
        <mat-tab label="full widgets" *ngFor="let view of fullViews; let ind = index">
            <ng-template matTabContent>
                <mat-drawer-container class="main-container">
                    <mat-drawer mode="side" opened position="start">
                        <button mat-button class="change-view-button" (click)="goLeft()">
                            <i class="icon ion-ios-arrow-back change-view-icon"></i>
                        </button>
                    </mat-drawer>
                    <mat-drawer mode="side" opened position="end" *ngIf="ind < fullViews.length - 1">
                        <button mat-button class="change-view-button" (click)="goRight()">
                            <i class="icon ion-ios-arrow-forward change-view-icon"></i>
                        </button>
                    </mat-drawer>
                    <mat-drawer-content class="driver-content_full-view">
                        <div style="height: 100%; overflow-y: auto;" class="desk-content has-left-arrow" [class.has-right-arrow]="ind < fullViews.length">
                            <app-full-view
                                *ngIf="!!currentView && ind === currentViewIndex"
                                [viewIndex]="view.index"
                                [addUnit]="addFullUnit"
                                [widgets]="fullWidgets"
                                [viewChangeEvent]="viewChange"
                                [currentView]="currentView"
                            ></app-full-view>
                        </div>
                    </mat-drawer-content>
                </mat-drawer-container>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>
