.quote-full_wrapper {
    height: 180px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    .quote_title {
        cursor: pointer;
        text-align: center;
        padding: 20px 10px 0 10px;
        margin-bottom: 10px;
    }
    .quote_footer {
        display: flex;
        justify-content: space-between;
        min-height: 20px;
        padding: 0 10px;
        margin-bottom: 10px;

        .quote_icons {
            position: relative;
            display: flex;
            cursor: pointer;
            font-size: 18px;
            div {
                width: 15px;
                margin-right: 5px;
            }
            i {
                position: absolute;
            }
            .ion-logo-twitter {
                color: deepskyblue;
            }
        }
        .quote_autor {
            position: absolute;
            right: 10px;
            cursor: pointer;
            font-size: 12px;
            color: rgba(255,255,255, .7);

            &:hover {
                font-size: 1.1rem;
                transition: font-size .2s ease-out;
            }
        }
    }
}

.radio-display {
    display: block;
}

.quote-source {
    margin-left: 15px;
    .bottom-margin {
        margin-bottom: 10px;
        background: slategrey
    }
}