<app-widget
    [type]="type"
    [frozen]="frozen"
    [hide]="hide"
    [open]="open"
    [remove]="remove"
    [minimizedSubj]="minimizedOnStart"
    (minimizedEmiter)="onMinimize($event)"
    [opened]="onOpened()"
    [showHeader]="settings.showHeader"
    [headerName]="settings.headerName"
    (reload)="reload()"
    (hideWidget)="hideWidget.emit()"
    (save)="saveSettings()"
    (init)="widgetInit()"
    [reloadable]="true">

    <app-widget-icon>
        <i class="icon ion-ios-quote"></i>
    </app-widget-icon>

    <app-widget-info>

    </app-widget-info>

    <!--<app-widget-settings-on-adding [settings]="settingsStorage" (syncSettings)="syncSettingsStorage()">
    </app-widget-settings-on-adding>-->

    <app-widget-settings>
        <div class="setting-item">
            <span class="setting-item-label">Widget Header</span>
            <mat-slide-toggle [(ngModel)]="settingShowHeader"></mat-slide-toggle>
        </div>
        <div class="setting-item">
            <span class="setting-item-label">Widget Name</span>
            <mat-form-field>
                <input matInput [(ngModel)]="settingHeaderName"
                       autocomplete="off" spellcheck="false" (keydown)="lengthLimit()">
            </mat-form-field>
        </div>
    </app-widget-settings>

    <app-widget-full>
        <div *ngIf = "isFromAddPopUp" class = "quote-source">
            <span> Select source of quote</span>
            <mat-radio-group [(ngModel)]="quoteSource">
                <mat-radio-button value = "" class = "radio-display"> Default </mat-radio-button>
                <mat-radio-button value = "forismatic" class = "radio-display">Forismatic </mat-radio-button>
                <mat-radio-button value = "forbes" class = "radio-display">Forbes </mat-radio-button>
            </mat-radio-group>
            <button mat-button class = "button-prop, bottom-margin" (click) = "getQuote()">Show quote</button>
        </div>
        <div class="quote-full_wrapper" *ngIf = !isFromAddPopUp>
            <div class="quote_title" (click)="toQuoteSource()">
                {{quote.quoteText}}
            </div>
            <div class="quote_footer">
                <div class="quote_icons">
                    <div><i class="icon ion-logo-twitter" (click)="tweetQuote()"></i></div>
                </div>
                <div class="quote_autor" (click)="toQuoteSource()">
                    {{quote.quoteAuthor}}
                </div>
            </div>
        </div>
    </app-widget-full>
</app-widget>
