.cursor-pointer {
    cursor: pointer;
}
.padding-left {
    padding-left: 5px;
}
.player-font {
    font-size: 25px;
}
.v-scroll {
    overflow: auto;
    max-height: 150px;
}
.radioPlayer {
    padding-left: 15px;
}
.radio-view-more {
    margin-left: 40%;
    padding-bottom: 20px;
    cursor: pointer;
}