<app-widget
    [type]="type"
    [frozen]="frozen"
    [hide]="hide"
    [open]="open"
    [remove]="remove"
    [minimizedSubj]="minimizedOnStart"
    (minimizedEmiter)="onMinimize($event)"
    [opened]="onOpened()"
    [showHeader]="settings.showHeader"
    [headerName]="settings.headerName"
    (reload)="reload()"
    (hideWidget)="hideWidget.emit()"
    (save)="saveSettings()"
    (init)="widgetInit()"
    [reloadable]="true">

    <app-widget-icon>
        <i class="icon ion-ios-radio"></i>
    </app-widget-icon>

    <app-widget-info>

    </app-widget-info>

    <app-widget-settings>
        <div class="setting-item">
            <span class="setting-item-label">Widget Header</span>
            <mat-slide-toggle [(ngModel)]="settingShowHeader"></mat-slide-toggle>
        </div>
        <div class="setting-item">
            <span class="setting-item-label">Widget Name</span>
            <mat-form-field>
                <input matInput [(ngModel)]="settingHeaderName"
                       autocomplete="off" spellcheck="false" (keydown)="lengthLimit()">
            </mat-form-field>
        </div>
    </app-widget-settings>

    <app-widget-full>
        <div *ngIf = "playingStation && showPlayer" class="radioPlayer">
            <audio id ="radioPlayer" preload="none">
                <source [src]="playingStation.streams[0].stream" type="audio/ogg">
                <source [src]="playingStation.streams[0].stream" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio> 
            <span class="station-name">{{playingStation.name}} </span>
            <span *ngIf="!isPlay" class="cursor-pointer padding-left player-font" (click) = "playAudio(playingStation, playingStation.id)">
                <i class = "icon ion-ios-play padding-left"></i>
            </span>
            <span *ngIf="isPlay" class="cursor-pointer padding-left player-font" (click) = "pauseAudio(playingStation.id)">
                <i class = "icon ion-ios-pause padding-left"></i>
            </span>
        </div>

        <div class="v-scroll" *ngIf="countries && countries.length > 0 && stations.length == 0">
            <span class="radioPlayer">Select country to get station</span>
            <ul>
                <li *ngFor="let country of countries">
                    <span class="cursor-pointer" (click)="getStationByCountry(country.country_code)">
                        {{country.name}}
                    </span>
                </li>
            </ul>
        </div>
        <div class="v-scroll" *ngIf="stations && stations.length>0">
            <span class="radioPlayer"> List of stations</span>
            <ul>
                <li *ngFor="let station of stations">
                    <audio [id] ="station.id" preload="none">
                        <source [src]="station.streams[0].stream" type="audio/ogg">
                        <source [src]="station.streams[0].stream" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio> 
                    <span class="station-name padding-left"> {{station.name}}</span>
                    <span class="cursor-pointer padding-left" (click) = "playAudio(station, station.id)">
                        <i class = "icon ion-ios-play padding-left"><span class="padding-left">Play</span></i>
                    </span>
                </li>
            </ul>
            <i *ngIf="hasMoreStations" (click)="getStationByCountry(this.countryCode)" class="radio-view-more"> View more </i>
        </div>
    </app-widget-full>
</app-widget>
