@import '../../../../../src/sass/mixins';
@import '../../../common-styles.scss';

.app-widget-cpm {
    width: 100%;
    height: 100%;
    //overflow: hidden;

    .widget-icon-wrapper {
        border: 0;
        color: #fff;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 0;
        font-size: 20px;
        min-width: 20px;
        cursor: pointer;

        &.active {
            background: rgba(0, 0, 0, 0.288);
            border-radius: 6px;
        }

        mat-icon {
            height: 100%;
            width: 100%;
        }
    }
}

.actions-icons_background {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 15px;
    background: linear-gradient(135deg, transparent 20px, black 20px);
    z-index: -1;
}

.app-widget-full-wrapper {
    min-height: 50px;
    height: 100%;
    width: 100%;
    min-width: 250px;
    color: white;
    max-width: unset;
    border-radius: 15px;
    //overflow: hidden;
    background-color: black !important;
    padding: 0;
    box-sizing: border-box;
    position: relative;

    iframe {
        height: 419px;
        width: 100%;
    }

    .app-widget_header-space {
        //padding-top: 10px !important;
    }

    .actions-icons {
        //transition: opacity .2s ease-out;
        opacity: 0;
        position: absolute;
        padding-right: 23px;
        height: 40px;
        right: 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        //z-index: 88;

        padding-left: 25px;
        top: -22px !important;
        //border-top-right-radius: 15px;
        //background: linear-gradient(135deg, transparent 20px, black 20px);

        &.full-view {
            right: 25px;
        }
    }

    .app-widget-full-content {
        .app-widget-full-content-body {
            height: 100%;
            width: 100%;
            background-color: black;
            overflow-y: auto;
            @include thin-scroller();
        }
        border-radius: 15px;
        height: 100%;
        width: 100%;
        padding-top: 5px;
        margin: 0;
        text-align: left;
        box-sizing: content-box;
        overflow: hidden;
        max-height: 70vh;

        .widget-header_wrapper {
            display: flex;
            position: sticky;
            top: 0;
            width: 99%;
            z-index: 555;
            background-color: black;

            &.widget-header_pawered {
                .widget-header {
                    max-width: 67% !important;
                }
            }

            .widget-header {
                padding: 5px 0;
                z-index: 5;
                overflow: hidden;
                max-width: 240px;

                .header-text {
                    font-weight: bold;
                    font-size: 18px;
                    padding-left: 8px;
                    white-space: nowrap;
                }
            }

            .widget-powered {
                width: 30%;
                margin-left: auto;
                padding-top: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .widget-powered_by {
                    font-size: 10px;
                    color: rgba(255,255,255, .7);
                }

                .widget-powered_img {
                    max-height: 12px;
                }
            }
        }
    }
}

.full-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.app-widget-modal-overlay {
    border-radius: 15px;
    max-height: 70%;
    overflow: unset !important;
    min-width: 250px;
    margin-left: 4vw !important;
    width: 22.4vw;

    .app-widget-full-wrapper {
        .actions-icons {
            padding-right: 5px !important;
        }

        &:hover .actions-icons {
            opacity: 1;
        }
    }



    .app-widget-full-wrapper {
        background-color: transparent;
        opacity: 1;
        app-widget-full {
            iframe {
                height: 62vh;
                width: 100%;
            }
        }
    }

    .mat-dialog-container {
        background-color: transparent;
        padding: 0;
        box-shadow: none;
        overflow: unset;
    }

    .full-wrapper {
        min-width: 250px;
        max-width: 500px;
        overflow-y: auto;
    }
}

::ng-deep .app-widget-modal-overlay .app-widget-full-content {
    padding: 10px;
}

app-widget-settings-on-adding {
    padding: 5px;
    display: block;
}

.app-widget-settings-wrapper {
    padding: 10px;

    .app-widget-settings-content {
        max-height: 80vh;
    }
}

.delete-widget_wrapper {
    padding: 10px;
    max-height: 80vh;

    .delete-widget_buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        button:hover {
            color: #ff652f;
        }
    }

    .delete-widget_title {
        text-align: center;
    }

    .header-space {
        padding-top: 40px;
    }
}

.widget-settings_icon {
    //position: relative;
    font-size: 20px;
    width: 20px;
    color: #ff652f;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
        //position: absolute;
        cursor: pointer;
        &:hover {
            //font-size: 1.3rem;
            color: $hover_color;
        }
    }
    //-webkit-text-stroke: .7px black;
}

.widget-info_wrapper {
    padding: 10px;
    height: 100%;
    //text-align: center;
}

.setting-item {
    height: 55px;
    display: flex;
    align-items: center;
}
.setting-item_select {
    position: absolute;
    top: 20px;
}
.setting-item_select-bottom {
    position: absolute;
    top: 20px;
    max-height: 100px !important;
}

.setting-item-label {
    margin-right: 10px;
}
.drag-icon_right {
    right: 79px !important;
}
.widget {
    .widget-content {
        position: relative;
        .drag-icon {
            z-index: 999;
            position: absolute;
            top: -16px;
            right: 5px;
            font-size: 18px;
            opacity: 0;
            //transition: opacity .2s, font-size .2s ease-out;
            &:hover {
                //font-size: 1.7rem !important;
                color: $hover_color;
            }
            &.powered-widget_grag {
                top: -17px;
            }
        }
    }

    .widget-content:hover {
        .actions-icons, .drag-icon {
            opacity: 1 !important;
        }
    }
}

.column-layer:hover {
    .actions-icons, .drag-icon {
        opacity: 1 !important;
    }
}

@media (max-width: 1024px) {
    .app-widget-modal-overlay {
        width: 45vw;
    }
}

.hide-widget-full, .hide-widget-settings, .hide-widget-delete, .hide-widget-onadding {
    //visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: -9999;
}

.widget-width_toggle-wrap {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 40%;
    z-index: 55;
    .widget-width_toggle {
        position: relative;
        right: 26px;
        font-size: 35px;
        padding: 4px 19px;
        border-radius: 100%;
        background-color: rgba(0, 0, 0, .3);
        cursor: pointer;

        .widget-width_arrow {
            position: relative;
            right: -14px;
        }

        &:hover {
            background-color: rgba(0, 0, 0, .5);
        }
    }
}

.modal-overlay_transparent-backdrop {
    background-color: transparent;
}

.widget-location {
    position: relative;
    padding: 0 10px;
    .movies-location_save, .movies-location_edit {
        position: absolute;
        top: 2px;
        right: -30px;
    }

    .movies-location_clear {
        position: absolute;
        top: 8px;
        left: 167px;
        &:hover {
            cursor: pointer;
        }
    }

    .movies-location_target {
        position: absolute;
        top: 7px;
        right: -55px;
    }

    .movies-location_save:hover, .movies-location_edit:hover, .movies-location_target:hover {
        cursor: pointer;
    }
}

.setting_location-wrapper {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .setting_geo-radio {
        font-size: 12px;
    }

    .widget-location {
        font-size: 12px;
        margin-top: -12px;
    }
}

.transparent-widget {
    .app-widget-full-content-body {
        background-color: transparent !important;
    }
}
