<div [ngSwitch]="type" class="app-widget-cpm">
    <ng-container *ngSwitchCase="'icon'">
        <ng-container *ngTemplateOutlet="icon"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'full'">
        <ng-container *ngTemplateOutlet="full"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'on-adding'">
        <ng-container *ngTemplateOutlet="full"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'settings'">
        <ng-container *ngTemplateOutlet="settings"></ng-container>
    </ng-container>
</div>

<ng-template #icon>
    <div [ngClass]="{'widget-icon-wrapper': true, 'active': matDialogRef}" mat-button (click)="iconClick($event)">
        <ng-content select="app-widget-icon"></ng-content>
    </div>
</ng-template>

<ng-template #full>
    <div class="app-widget-full-wrapper">
        <div *ngIf="type != 'on-adding' && position != 'bottom'" class="actions-icons">
            <div class="actions-icons_background"></div>
            <div *ngIf="openSettings" class="widget-settings_icon"><i class="icon ion-ios-save" matTooltip="Save" (click)="saveSettings()"></i></div>
            <div *ngIf="!openSettings && reloadable" class="widget-settings_icon"><i class="icon ion-md-sync" matTooltip="Reload" (click)="onReload()"></i></div>
            <div *ngIf="position != 'bottom' && subType != 'iframe'" class="widget-settings_icon"><i class="icon ion-ios-hammer" matTooltip="Settings" (click)="onOpenSettings()"></i></div>
            <div *ngIf="subType == 'iframe'" class="widget-settings_icon"><i class="icon ion-ios-information-circle-outline" (click)="openInfo()"></i></div>
            <div *ngIf="type == 'full' && position != 'bottom'" class="widget-settings_icon"><i class="icon ion-md-remove" style="top: 5px" matTooltip="Minimize" (click)="minimizeWidget($event.target)"></i></div>
            <div *ngIf="type == 'full' && position != 'bottom'" class="widget-settings_icon"><i class="icon ion-ios-trash" matTooltip="Remove" (click)="askForDelete()"></i></div>
            <div *ngIf="type == 'icon'" class="widget-settings_icon"><i class="icon ion-md-close" matTooltip="Close" (click)="closeWidget()"></i></div>
        </div>

        <div [ngClass]="{'app-widget-full-content': true, 'app-widget_header-space': subType == 'iframe'}" (click)="$event.stopPropagation()"> <!--'app-widget_header-space': !showHeader-->
            <div class="app-widget-full-content-body">
                <div [ngClass]="{'widget-header_wrapper': true, 'widget-header_pawered': poweredImg}">
                    <div class="widget-header" *ngIf="showHeader && type !== 'on-adding'">
                        <div class="header-text">{{ headerName }}</div>
                    </div>

                    <div *ngIf="poweredImg && type != 'on-adding'" class="widget-powered">
                        <div class="widget-powered_by">Powered By</div>
                        <img class="widget-powered_img" src="{{poweredImg}}"/>
                    </div>
                </div>

                <div [ngClass]="{'hide-widget-onadding': type != 'on-adding' || minimized || openDeleteWindow}">
                    <ng-content select="app-widget-settings-on-adding"></ng-content>
                </div>
                <div [ngClass]="{'hide-widget-full': !openFullWindow || openSettings || minimized || openDeleteWindow || showInfo}">
                    <ng-content select="app-widget-full"></ng-content>
                </div>
                <ng-container *ngIf="openSettings && !minimized && !openDeleteWindow">
                    <ng-container *ngTemplateOutlet="settings"></ng-container>
                </ng-container>
                <ng-container *ngIf="openDeleteWindow">
                    <ng-container *ngTemplateOutlet="deleteWidget"></ng-container>
                </ng-container>
                <ng-container *ngIf="showInfo">
                    <ng-content select="app-widget-info"></ng-content>
                </ng-container>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #settings>
    <div class="app-widget-settings-wrapper">
        <div class="app-widget-settings-content">
            <ng-content select="app-widget-settings"></ng-content>
        </div>
    </div>
</ng-template>

<ng-template #deleteWidget>
    <div class="delete-widget_wrapper">
        <p [ngClass]="{'header-space': !showHeader, 'delete-widget_title': true}">Are you sure you want to remove {{headerName}} Widget?</p>
        <div class="delete-widget_buttons">
            <button mat-stroked-button type="button" (click)="onHideWidget()">Yes</button>
            <button mat-stroked-button type="button" (click)="declineDelete()">No</button>
        </div>
    </div>
</ng-template>
