.unit-converter-form {
    .category-select
    {
        margin-left: 20%;
    }
    .unit-select {
        width: 130px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .value-input {
        width: 130px;
        margin-left: 10px;
        margin-right: 10px;
        .value-placeholder {
            color:white;
        }
    }
}