<app-widget [type]="type" [frozen]="frozen" [hide]="hide" [open]="open" [remove]="remove"
    [minimizedSubj]="minimizedOnStart" (minimizedEmiter)="onMinimize($event)" [opened]="onOpened()"
    [showHeader]="settings.showHeader" [headerName]="settings.headerName" (reload)="reload()"
    (hideWidget)="hideWidget.emit()" (save)="saveSettings()" (init)="widgetInit()" [reloadable]="true">

    <app-widget-icon>
        <i class="icon ion-ios-swap"></i>
    </app-widget-icon>

    <app-widget-info>

    </app-widget-info>

    <app-widget-settings>
        <div class="setting-item">
            <span class="setting-item-label">Widget Header</span>
            <mat-slide-toggle [(ngModel)]="settingShowHeader"></mat-slide-toggle>
        </div>
        <div class="setting-item">
            <span class="setting-item-label">Widget Name</span>
            <mat-form-field>
                <input matInput [(ngModel)]="settingHeaderName" autocomplete="off" spellcheck="false"
                    (keydown)="lengthLimit()">
            </mat-form-field>
        </div>
    </app-widget-settings>

    <app-widget-full>
        <form class="unit-converter-form">
            <div>
                <mat-form-field class="category-select">
                    <mat-select [(value)]="categoryId">
                        <mat-option *ngFor="let category of categories" [value]="category.id"
                            (click)="selectCategoryUnits(category)">
                            {{category.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="unit-select">
                    <mat-select [(value)]="fromUnitCode">
                        <mat-option value="" (click)="resetValuesByName('from')">From Unit</mat-option>
                        <mat-option *ngFor="let unit of selectedUnit.unit" [value]="unit.code"
                            (click)="selectUnit(unit, 'from')">
                            {{unit.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="value-input">
                    <input matInput [(ngModel)]="fromUnitValue" type="number" name="fromUnitValue" autocomplete="off"
                        spellcheck="false" (ngModelChange)="convertUnits('from')" [disabled]="fromUnitCode==''">
                    <mat-placeholder class="value-placeholder">From Value</mat-placeholder>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="unit-select">
                    <mat-select [(value)]="toUnitCode">
                        <mat-option value="" (click)="resetValuesByName('to')">To Unit</mat-option>
                        <mat-option *ngFor="let unit of selectedUnit.unit" [value]="unit.code"
                            (click)="selectUnit(unit, 'to')">
                            {{unit.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="value-input">
                    <input matInput [(ngModel)]="toUnitValue" type="number" name="toUnitValue" autocomplete="off"
                        spellcheck="false" (ngModelChange)="convertUnits('to')" [disabled]="toUnitCode==''">
                    <mat-placeholder class="value-placeholder">To Value</mat-placeholder>
                </mat-form-field>
            </div>
        </form>
    </app-widget-full>
</app-widget>