.icon-view {
    height: 100%;

    .todo-widget {
        position: absolute;
        bottom: 12px;
        left: 1vw;
    }

    .mat-drawer {
        align-items: stretch !important;
    }

    .left-widgets {
        flex: 1;
        width: 4vw;
        margin: 15px 0;
        margin-bottom: 50px;
        padding-right: 10px;
        position: relative;
        overflow: hidden;
        .widget {
            padding: 0 !important;
        }
    }

    ::ng-deep.bottom-widgets {
        .widget {
            width: 380px !important;
            .widget-content {
                height: 215px !important;
            }
        }
        .time-wrapper {
            overflow: visible;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            height: 100%;
            width: 100%;
            //min-width: 135px;
            //min-height: 75px;

            text-align: center;
            color: rgba(255, 255, 255, 1.0);
            padding: 10px;

            .time {
                font-size: 80px;
            }

            .date {
                font-size: 40px;
                font-weight: 100;
            }
        }
    }

    @media (max-width: 960px) {
        .left-widgets {
            width: 5vw;
        }
    }

    @media (max-width: 640px) {
        .left-widgets {
            width: 6vw;
        }
    }

    app-draggable-icons[position="bottom"] {
        width: 250px;
        bottom: 35vh;
        top: auto;
        left: calc(50% - 62px);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        position: absolute;
        margin: 0;

        ::ng-deep.widget  {
            margin: 0 auto;
            width: 250px;
            height: 150px;

            &.spacer  {
                height: 0;
            }

            .widget-content {
                height: 150px;
            }
        }
    }

    ::ng-deep .widget-header .actions-icons {
        right: 0 !important;
    }
}

.widgets-list {
    display: flex;
    flex-flow: row wrap;

    .widgets-list-item {
        flex: 1;
        margin: 10px;

        position: relative;

        .widget-settings-wrapper {
            transform: translateY(0px);
        }
    }
}

.widgets-list-item {
    position: relative;

    .widget-settings-wrapper {
        transform: translateY(0px);
    }
}

::ng-deep .mat-menu-panel.popover {
    margin: 20px;
}

