<div class="icon-view">
    <mat-drawer-container class="main-container">
        <mat-drawer mode="side" opened position="start" class="test">
            <div class="left-widgets" #widgetsBar>
                <app-draggable-icons
                    [widgets]="widgets"
                    [hideOpenedWidgets]="hideOpenedWidgets"
                    [widgetAddingDragStart]="widgetAddingDragStart"
                    [widgetAddingDragEnd]="widgetAddingDragEnd"
                    (widgetAddingCompleted)="closeDialog()"></app-draggable-icons>
            </div>
            <div class="todo-widget">
                <app-widget-todo
                    type="icon"
                    key="fixed-w-todo"
                    [opened]="widgetOpened()"
                    [hide]="hideOpenedWidgets"
                    [open]="openTodo"
                    [defaultSettings]="todoSettings"></app-widget-todo>
            </div>
        </mat-drawer>
        <mat-drawer-content class="no-overflow">
            <app-draggable-icons class="bottom-widgets"
                position="bottom"
                [widgets]="widgets"
                [hideOpenedWidgets]="hideOpenedWidgets"
                [widgetAddingDragStart]="widgetAddingDragStart"
                [widgetAddingDragEnd]="widgetAddingDragEnd"
                (widgetAddingCompleted)="closeDialog()"></app-draggable-icons>
        </mat-drawer-content>
    </mat-drawer-container>
</div>

<ng-template #addWidgetModal class="popover" panelClass="popover">
    <app-widgets-add-popup
        *ngIf="availableWidgets"
        [widgets]="availableWidgets"
        [currentView]="currentView"
        [viewIndex]="viewIndex"
        (dragStart)="onDragStart($event)"
        (dragEnd)="onDragEnd($event)"
    ></app-widgets-add-popup>
</ng-template>

