@font-face {
    font-family: 'fabfeltscriptbold';
    src: url('/assets/logo/fabfeltscript-bold.eot');
    src: url('/assets/logo/fabfeltscript-bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/logo/fabfeltscript-bold.woff2') format('woff2'),
         url('/assets/logo/fabfeltscript-bold.woff') format('woff'),
         url('/assets/logo/fabfeltscript-bold.ttf') format('truetype'),
         url('/assets/logo/fabfeltscript-bold.svg#fabfeltscriptbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
