<div class="background" style="background-image: url('assets/images/bg1.jpeg')" [@loading]="bgImgLoaded ? 'loads' : 'loaded'"></div>

<ng-container *ngIf="!isAuthenticated && !isLoading">
    <app-sign-in (authenticated)="authenticate($event)"></app-sign-in>
</ng-container>

<div [@loading]="isLoading ? 'loaded' : 'loads'" id="main-content">
    <ng-container *ngIf="isAuthenticated">
        <app-desk (authenticated)="authenticate($event)"></app-desk>
    </ng-container>
</div>
