@import "./common-styles";
@import "../sass/mixins";
body {
    color: rgba(255, 255, 255, .9);
    font-family: "Whitney-Light", sans-serif;
    font-size: 14px;
    letter-spacing: 0.4px;
    background-color: #212529;
    .quickLink {
        &.show {
            visibility: hidden;
        }
    }
}

input,
span {
    letter-spacing: 0.6px;
}
.send-to-server, .send-to-server-error, .throw-error {
    font-size: 15px;
    background-color: blue;
    position: absolute;
    top: 100px;
    right: 150px;
    cursor: pointer;
    z-index: 999999;
}
.send-to-server-error {
    top: 150px !important;
}
.throw-error {
    top: 200px !important;
    background-color: red !important;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: transform .3s ease-out;
    animation: fadein .5s ease-out 0s forwards;
    background-color: transparent;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#main-content {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.mat-menu-panel.popover {
    color: white;
    opacity: 1;
    max-width: unset;
    border-radius: 15px;
    .mat-menu-content {
        padding: 0;
        .popover-wrapper {
            background-color: black;
            padding: 10px;
        }
    }
}

.mat-menu-panel.widget {
    background: transparent;
    border-radius: 15px;
    margin-left: 60px;
    min-width: 320px;

    .mat-menu-content {
        padding: 0;
    }
}

.popover {
    color: white;
    opacity: 1;
    max-width: unset;
    border-radius: 15px;
    overflow: hidden;
    background-color: black;

    .popover-wrapper {
        padding: 10px;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
    }
}

.center {
    text-align: center;
}

mat-icon.fa,
mat-icon.fab,
mat-icon.far,
mat-icon.fas,
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    justify-content: flex-start;
}

.widget-component {
    width: 100%;
    height: 100%;
    overflow: hidden;

    button {
        border: 0;
        background: transparent;
        color: #fff;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 0;
        font-size: 24px;
        min-width: 0;

        mat-icon {
            height: 100%;
            width: 100%;
        }
    }

    .widget-popover {
        height: 100%;
        .popover-wrapper {
            height: 100%;
        }
    }
}

.cdk-overlay-pane {
    max-width: 90vw !important;
}

.custom-menu {
    background-color: black;
    opacity: 0.8;
    .mat-button:focus,
    button:focus {
        background-color: transparent !important;
        outline: unset !important;
        &:hover {
            background: rgba(255, 255, 255, .2) !important;
        }
    }

    button {
        &:hover {
            background: rgba(255, 255, 255, .2) !important;
        }

        i {
            font-size: 25px;
            margin-right: 7px;
        }
    }
}

.no-overflow {
    overflow: hidden !important;
}

.custom-menu-item {
    mat-icon, i {
        display: unset;
    }
    &:hover {
        background: rgba(255, 255, 255, .07) !important;
        color: #ff652f;
    }
}

.img-list-modal-overlay {
    overflow: hidden;
    max-height: 83vh;
    width: 25vw;
    //margin: 0 !important;

    .mat-dialog-container {
        background-color: black;
        overflow: hidden;
        padding: 1px;
        border-radius: 15px;
        box-shadow: none;
    }

    app-img-changer {
        width: 100%;
        height: 100%;
    }
}

.search-menu_modal-overlay {
    position: absolute !important;
    top: 56px;
    left: 24vw;

    mat-dialog-container {
        padding: 10px;
        border-radius: 10px;
        background-color: black;
    }
}

.page-menu-modal-overlay, .quicklinks-modal-overlay {
    display: flex;
    position: absolute !important;
    top: 70px;
    left: 2px;
    flex-direction: column;
    width: 26.4vw;
    height: auto;
    .app-desk_page-menu, .quicklinks-menu {
        .delete-page_wrapper, .delete-folder_wrapper {
            padding: 0 5px;
            width: 100%;
            display: flex;
            justify-content: space-between;

            p {
                margin: 0;
            }

            button {
                line-height: 17px;
                min-width: unset !important;
                padding: 0 5px;
                font-size: $title_font-size;
            }
            .delete-page_buttons, .delete-folder_buttons {
                display: flex;
                justify-content: flex-end;
                button:hover {
                    color: #ff652f;
                }
            }
        }
        .page-menu_drag-icon, .links_drag-icon {
            font-size: 20px;
            opacity: 0;
            cursor: pointer;
            color: rgba(255,255,255, .7);
            transition: font-size .2s, visibility 0.2s, opacity 0.2s linear;
            position: absolute;
            top: 0;
            left: 2px;
        }
        .page-menu_home, .page-menu_full, .quicklinks-folder {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 30px;
            position: relative;
            padding-left: 4%;
            padding-top: 3px;
            padding-bottom: 3px;
            border-bottom: 1px solid rgba(255,255,255, .2);
            color: $title_color;
            font-size: 14px;
            //cursor: pointer;

            &:hover {
                //font-size: 1em;
                //color: $hover_color;
                //transition: $icon_hover_transition;
                /*border-color: #ff652f;
                .page-menu_input-name {
                    color: #ff652f;
                }*/
            }
            .page-menu_input-name {
                width: 70%;
                .page-menu_page-name {
                    cursor: pointer;
                    width: fit-content;
                }
                p {
                    margin: 0;
                    &:hover {
                        color: $hover_color;
                    }
                }
                mat-form-field {
                    width: inherit;
                    .mat-form-field-wrapper {
                        position: relative;
                        top: 7px;
                        padding-bottom: 0;
                        .mat-input-element {
                            position: relative;
                            top: -10px;
                        }
                    }
                }
            }
            .page-menu_icons {
                //padding-right: 5px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                i {
                    font-size: 18px;
                    margin-right: 5px;
                    cursor: pointer;

                    &:hover {
                        //font-size: 1.6rem !important;
                        color: $hover_color;
                        //transition: $icon_hover_transition;
                    }
                }

                .default-page, .active-folder {
                    color: #ff652f;
                }

                .page-menu_default {
                    min-width: unset;
                    padding: 0 !important;
                    &.page-menu_disable-hover {
                        i {
                            &:hover {
                                color: unset !important;
                            }
                        }
                    }
                    &.page-menu_disabled {
                        color: gray;
                    }
                }
            }
            &:hover {
                background-color: rgba(255,255,255, .2);
            }
        }
        .page-menu_full:hover {
            .page-menu_drag-icon{
                opacity: 1;
            }
        }
        .page-menu_home {
            .page-menu_icons {
                padding-right: 15px;
            }
        }
        .page-menu_active {
            .page-menu_input-name {
                p {
                    color: #ff652f;
                }
            }
        }
        .page-menu_settings {
            .page-menu_add-page-wrapper {
                width: 100%;
                display: flex;
                height: 30px;
                justify-content: flex-start;
                align-items: center;
                font-size: $title_font-size;
                p {
                    margin: 0;
                    cursor: pointer;
                    &:hover {
                        //font-size: 1rem;
                        color: $hover_color;
                        //transition: $icon_hover_transition;
                    }
                }
                mat-form-field {
                    width: 70%;
                }
                i {
                    font-size: 18px;
                    margin-right: 8px;
                    cursor: pointer;
                    &:hover {
                        //font-size: 1.6rem !important;
                        color: $hover_color;
                        //transition: $icon_hover_transition;
                    }
                }
            }
        }
    }
    mat-dialog-container {
        background-color: black;
        padding: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }
}

.page-menu-modal-overlay {
    .page-menu_input-name {
        p:hover {
            //font-size: 1.2rem;
            color: $hover_color;
            //transition: $icon_hover_transition;
        }
    }
}

.quicklinks-modal-overlay {
    left: 27.5vw;
    width: 25vw;
    mat-dialog-container {
        border-radius: 10px !important;
    }
    .quicklinks-folder {
        cursor: default !important;
        &:hover {
            .links_drag-icon {
                opacity: 1;
            }
        }
        .page-menu_icons_stab {
            margin-right: 15px;
        }

        .page-menu_input-name {
            display: flex;

            & > * {
                cursor: pointer;
            }
        }

        .selected-folder {
            > i, p {
                color: #ff652f;
            }
        }
    }
}

.icon_bg-img_info {
    position: absolute;
    right: 3vw;
    bottom: 17px;
}
.full_bg-img_info {
    position: relative;
    right: -67vw;
    bottom: 17px;
}
.bg-img_info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 40px;
    width: 23.2vw;
    //white-space: nowrap;
    color: #fff;
    z-index: 5;
    div {
        display: flex;
        justify-content: flex-end;
        min-width: 10vw;
    }

    &:hover {
        .bg-img_title {
            top: -15px;
        }
        .bg-img_owner {
            bottom: -5px;
            opacity: 1;
        }
    }

    .bg-img_title, .bg-img_owner {
        width: 100%;
        line-height: 1.5;
        margin: 0;
        position: absolute;
        white-space: pre-line;
        display: inline-block;
        text-align: right;
        overflow: hidden;
        transition: visibility 0.1s, opacity 0.8s, top 0.2s, bottom 0.2s linear;

        cursor: pointer;
        text-decoration: none;
        color: white;
        &:hover {
            text-decoration: none;
            color: #ff652f
        }
    }

    .bg-img_title {
        top: 0;
    }

    .bg-img_owner {
        opacity: 0;
        bottom: 0;
    }
}

.page-menu_button-tooltip {
    position: relative;
    top: 5px;
    left: -10px;
}
.sync-tooltip {
    position: relative;
    font-size: 16px;
    padding: 15px !important;
    border-radius: 5px;
    left: -10px;
    background-color: black;
}

.ymusic-modal-overlay {
    width: 25vw;

    .full-wrapper {
        position: relative;
        min-height: 200px;
        width: 100%;

        .iframe-wrapper {
            overflow: hidden;
            height: 60vh;
            width: 100%;
        }
    }

    .mat-dialog-container {
        overflow: hidden;
        padding: 1px;
        padding-top: 0;
        border-radius: 15px;
        background-color: black;
    }

    .yMusic-wrapper {
        height: 83vh;
        .yMusic-icon {
            font-size: 20px;
            position: relative;
            float: right;
            margin-right: 5px;
            i {
                color: #ff652f;
            }
        }
    }

    .iframe-wrapper {
        overflow: hidden;
        height: 80vh;
        width: 100%;
    }
}

.yMusic-hover:hover {
    cursor: pointer;
}

.ymusic-hide {
    visibility: hidden !important;
}

.ymusic-modal-backdrop {
    background-color: rgba(0,0,0, .75);
}

.modal-overlay_back-drop {
    background-color: rgba(0,0,0, .75);
}

.settings-menu_overlay {
    .profile-menu {
        .custom-menu-item {
            i {
                margin-right: 10px;
                &:hover {
                    color: #ff652f !important;
                }
            }
        }
    }
    .mat-dialog-container {
        padding: 15px;
        border-radius: 15px;
        background-color: black;
    }
}

.snack-bar_base {
    background-color: #2b2b2b;
    color: #90a4ae;
    border-radius: 7px !important;
    margin-bottom: 40px !important;
    &.snack_error {
        .mat-simple-snackbar-action {
            button {
                color: #F44336;
            }
        }
    }
    &.snack_success {
        .mat-simple-snackbar-action {
            button {
                color: #ff652f !important;
            }
        }
    }
}

.icon-view {
    .bottom-widgets {
        app-widget-time {
            .app-widget-full-wrapper {
                background-color: transparent !important;
            }
        }
    }
}

.icon-widget-doubleWidth {
    width: 500px !important;
    z-index: 5555;
}
.widget-doubleWidth-left {
    right: 100%;
}

.mat-tab-label-active, .active-icon {
    color: #ff652f;
}
.mat-tab-label:hover {
    //color: #ff652f;
    color: $hover_color;
}

.mat-option.mat-selected:not(.mat-option-disabled) {
    color: #ff652f !important;
}
.margin-top {
    margin-top: 0 !important;
}

mat-icon, i {
    &:hover {
        //font-size: 1.5em !important;
        color: $hover_color !important;
        //transition: $icon_hover_transition;
    }
}
.mat-tab-header-pagination-chevron:hover {
    border-color: #ff652f;
}

.main-menu_button, .search-menus, .page-menu_default {
    .mat-button-focus-overlay {
        background-color:transparent !important;
        border: none;
    }
}
.widget-settings_icon {
    color: #ff652f;
    cursor: pointer;
    //-webkit-text-stroke: .7px black;
}
.add-widget_search-icon {
    margin-right: 5px;
}

.calendar-modal-overlay {
    .mat-dialog-container {
        width: 80vw;
        height: 80vh;
        background-color: black;
        overflow: hidden;
        padding: 1px;
        border-radius: 15px;
        box-shadow: none;
        .modal-header {
            height: 10vh;
            padding: 15px;
        }
        .modal-body {
            padding: 10px;
            height: 60vh;
            overflow-y: scroll;
            @include thin-scroller();
        }
        .modal-footer {
            display: flex;
            justify-content: space-between;
            height: 10vh;
            padding: 15px;
        }
    }
}

.app-logo {
    font-size: 25px;
    cursor: pointer;
    font-family: 'fabfeltscriptbold', Arial, sans-serif;
    &:hover {
        //font-size: 1.5em;
        color: $hover_color;
        //transition: $icon_hover_transition;
    }
}

.sortable-list_background {
    border: 1px solid #ff652f;
}

.todo-handle {

}
