.todo-full-wrapper {
    min-width: 250px;
    max-height: 40vh !important;
    padding: 10px;
}

.todosList {
    .todo_ghost-size {
        height: 25px !important;
        min-height: 25px !important;
        max-height: 25px !important;
    }
    .todoItem {
        display: flex;
        align-items: center;
        height: 31px;
        position: relative;

        .todo_drag-icon {
            position: relative !important;
            top: 1px;
            right: 4px;
        }

        .todoItem_input {
            display: flex;
            width: 90%;
            align-items: center;
            input {
                &.todo-completed {
                    text-decoration: line-through;
                    opacity: 0.8;
                }
                &.hasFlag {
                    color: #fc6573;
                }
            }

            .todoItem_checkbox {
                position: relative;
                height: 17px;
                width: 17px;
                margin-right: 3px;
                border: 2px solid rgba(255, 255, 255, .7);
                border-radius: 3px;
                cursor: pointer;
                .checkbox-unchecked {
                    height: 100%;
                    width: 100%;
                }
                .checkbox-checked {
                    height: 17px;
                    width: 17px;
                    position: absolute;
                    right: -3px;
                    bottom: -3px;
                    cursor: pointer;
                }
            }
        }

        .todoItem_icons {
            position: absolute;
            right: -4px;
            display: flex;
            width: 40%;
            white-space: nowrap;
            justify-content: flex-end;
            align-items: center;
            .todo-icon_first {
                padding-left: 5px;
            }
        }

        .todo-icon {
            background-color: transparent;
            font-size: 18px;
            opacity: 0;
            margin-right: 0;
            cursor: pointer;
            transition: font-size .2s, visibility 0.2s, opacity 0.2s linear;
            .fa-calendar-alt {
                position: relative;
                right: 22px;
                padding: 5px 4px;
                background-color: black;
            }
            .fa-calendar-times {
                color: #d43f3a;
            }
        }

        .todo-icon:hover {
            font-size: 21px;
        }

        .createdAt {
            padding-left: 5px;
            padding-bottom: 5px;
            position: absolute;
            right: 0;
            top: 5px;
        }

        &.gu-mirror {
            .todo-icon {
                opacity: 1;
            }
        }
    }
    .todoItem:hover {
        .todo-icon {
            opacity: 1;
            background-color: black;
        }

        .createdAt {
            display: none;
        }
    }
}

.md-datepicker-calendar-pane {
    z-index: 1200
}
