<app-widget
    [type]="type"
    [frozen]="frozen"
    [hide]="hide"
    [open]="open"
    [remove]="remove"
    [minimizedSubj]="minimizedOnStart"
    (minimizedEmiter)="onMinimize($event)"
    [opened]="onOpened()"
    [settings]="defaultSettings"
    [showHeader]="settings.showHeader"
    [headerName]="settings.headerName"
    (reload)="reload()"
    (hideWidget)="hideWidget.emit()"
    (save)="saveSettings()"
    (init)="widgetInit()"
    [reloadable]="false">

    <app-widget-icon>
        <mat-icon fontSet="fas" fontIcon="fa-tasks"></mat-icon>
    </app-widget-icon>

    <app-widget-info>

    </app-widget-info>

    <!--<app-widget-settings-on-adding [settings]="settingsStorage" (syncSettings)="syncSettingsStorage()">
    </app-widget-settings-on-adding>-->

    <app-widget-settings>
        <div class="setting-item">
            <span class="setting-item-label">Widget Header</span>
            <mat-slide-toggle [(ngModel)]="settingShowHeader"></mat-slide-toggle>
        </div>
        <div class="setting-item">
            <span class="setting-item-label">Widget Name</span>
            <mat-form-field>
                <input matInput [(ngModel)]="settingHeaderName"
                       autocomplete="off" spellcheck="false" (keydown)="lengthLimit()">
            </mat-form-field>
        </div>
        <div class="setting-item">
            <span class="setting-item-label">Open on startup</span>
            <mat-slide-toggle [(ngModel)]="openInStart"></mat-slide-toggle>
        </div>
    </app-widget-settings>

    <app-widget-full>
        <div class="todo-full-wrapper" (click)="$event.stopPropagation()">
            <div class="todosList">
                <div [sortablejs]="todos" [sortablejsOptions]="options">
                    <ng-container *ngFor="let item of todos">
                        <div *ngIf="item" class="todoItem">
                            <div class="todo-icon todo_drag-icon todo-handle" title="Click and drag" >
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                            <div class="todoItem_input">
                                <div class="todoItem_checkbox" matRipple
                                     [matRippleCentered]="true"
                                     [matRippleUnbounded]="true"
                                     [matRippleRadius]="20">
                                    <div *ngIf="!item.isCompleted"
                                         class="checkbox-unchecked"
                                         (click)="checkTodo(item)"></div>
                                    <input class="checkbox-checked" type="checkbox"
                                           *ngIf="item.isCompleted"
                                           [(ngModel)]="item.isCompleted"
                                           [checked]="item.isCompleted"
                                           (change)="sync()">
                                </div>

                                <input matInput
                                       [(ngModel)]="item.content"
                                       (keyup)="sync()"
                                       [ngClass]="{
                                   'todo-completed': item.isCompleted,
                                   'hasFlag': item.hasFlag
                                }"
                                       value="{{item.content}}"
                                       autocomplete="off"
                                       spellcheck="false">
                            </div>
                            <div class="todoItem_icons">
                                <div class="createdAt" [ngStyle]="{'background-color': item.createdAt? 'black': 'transparent'}">
                                    {{ item.createdAt | date:'mediumDate'}}
                                </div>
                                <div class="todo-icon todo-icon_first">
                                    <i *ngIf="item.createdAt" class="far fa-calendar-times"
                                       (click)="removeDate(item)"
                                       title="Remove existing date"></i>
                                    <app-date-picker *ngIf="!item.createdAt" [date]="todoDate(item.createdAt)"
                                                     (dateChange)="onTodoDateChange($event, item.id)"
                                                     title="Change date for this Todo"></app-date-picker>
                                </div>
                                <div class="todo-icon" (click)="toggleTodoFlag(item.id)" title="Toggle flag">
                                    <mat-icon [fontSet]="item.hasFlag ? 'fas' : 'far'" fontIcon="fa-flag"></mat-icon>
                                </div>
                                <div class="todo-icon" (click)="removeTodo(item.id)" title="Remove this todo">
                                    <mat-icon fontSet="fa" fontIcon="fa-times-circle"></mat-icon>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <form (ngSubmit)="addTodo()">
                <mat-form-field>
                    <input name="todoInput" [(ngModel)]="todoInput" matInput placeholder="What you need to do?" autocomplete="off">
                    <button type='button' mat-button *ngIf="todoInput" matSuffix mat-icon-button (click)="todoInput=''">
                        <mat-icon fontSet="fa" fontIcon="fa-times"></mat-icon>
                    </button>
                </mat-form-field>
            </form>
        </div>
    </app-widget-full>
</app-widget>
