@font-face {
    font-family: 'hanken-light';
    src: url('/assets/hanken/Hanken-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hanken-book';
    src: url('/assets/hanken/Hanken-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
