<app-widget
    [type]="type"
    [frozen]="frozen"
    [hide]="hide"
    [remove]="remove"
    [minimizedSubj]="minimizedOnStart"
    (minimizedEmiter)="onMinimize($event)"
    [opened]="onOpened()"
    [showHeader]="settings.showHeader"
    [headerName]="settings.headerName"
    (reload)="reload()"
    (hideWidget)="hideWidget.emit()"
    (save)="saveSettings()"
    (init)="widgetInit()"
    [userData]="userData"
    [position]="position"
    [reloadable]="false">

    <app-widget-icon>
        <i class="icon ion-md-time"></i>
    </app-widget-icon>

    <app-widget-info>

    </app-widget-info>

    <!--<app-widget-settings-on-adding [settings]="settingsStorage" (syncSettings)="syncSettingsStorage()">
    </app-widget-settings-on-adding>-->

    <app-widget-settings>
        <!--<div class="setting-item">
            <span class="setting-item-label">Widget Header</span>
            <mat-slide-toggle [(ngModel)]="service.settingShowHeader"></mat-slide-toggle>
        </div>
        <div class="setting-item">
            <span class="setting-item-label">Widget Name</span>
            <mat-form-field>
                <input matInput [(ngModel)]="service.settingHeaderName"
                       autocomplete="off" spellcheck="false">
            </mat-form-field>
        </div>-->
    </app-widget-settings>

    <app-widget-full>
        <div class="time-wrapper">
            <div class="time">{{currentTime | date: 'shortTime'}}</div>
            <div class="date">{{currentTime | date: 'E LLL d'}}</div>
        </div>
    </app-widget-full>
</app-widget>
