.time-wrapper {
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*font-family: 'hankenfont', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;*/

    height: 100%;
    width: 100%;
    //min-width: 135px;
    //min-height: 75px;

    text-align: center;
    color: rgba(255, 255, 255, 1.0);
    padding: 10px;

    .time {
        font-size: 60px;
    }

    .date {
        font-size: 28px;
        font-weight: 100;
    }

    .time, .date {
        font-family: 'hanken-light', Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
    }
}
