$ionicons-font-path: "~ionicons/dist/fonts";
@import "~ionicons/dist/scss/ionicons.scss";

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.15);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

@import './sass/mixins';

@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/theming';

// Theme customizing
@include mat-core();
$input-primary: mat-palette($mat-gray, A400, A500, A800);
$input-accent: mat-palette($mat-pink, A200, A100, A400);
$app-input-theme: mat-dark-theme($input-primary, $input-accent);
@include mat-form-field-theme($app-input-theme);
@include mat-input-theme($app-input-theme);
@import '~csshake/dist/csshake.min.css';

// dragula styles
/* in-flight clone */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
}

/* high-performance display:none; helper */
.gu-hide {
    left: -9999px !important;
}

/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

/* added to the source element while its mirror is dragged */
.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}

.loading {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: #898989;
}
