@import "../../common-styles";

.widget {
    padding: 20px 10px 5px 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

    .widget-settings-wrapper {
        position: absolute;
        right: 15px;
        top: 25px;
        height: 20px;
        transition-duration: .3s;
        z-index: 10;
        font-size: 18px;
        margin-right: 5px;
        cursor: pointer;
    }
}

.full-view {
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    //overflow-y: scroll;

    .bg-img_info-barrier {
        width: 100%;
        height: 20px;
        //background-color: red;
    }

    .columns {
        padding: 0;
        padding-left: .5vw !important;
        max-width: 95vw;
        min-height: 77vh;
        margin: 0;
        list-style: none;
        display: flex;
        flex: 1;
        //overflow-y: auto;
        align-items: initial;
        @include scrollbarStyles;

        .column {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            color: white;
            text-align: center;
            flex: 1;
            display: flex;
            position: relative;
            flex-direction: column;
            //max-width: 35vw;

            .widget {
                width: 100%;
                border-radius: 15px;
                padding-left: .5vw !important;
                padding-right: .5vw !important;

                &.widget-half {
                    width: 50%;
                }

                &.widget-full {
                    width: 100%;
                    height: 100%;
                }

                &.blur {
                    filter: blur(5px);
                }

                .widget-content {
                    height: 100%;
                }
            }

            .column-layer {
                display: flex;
                position: relative;
                //z-index: 5;
                flex-direction: row;
                //flex-direction: column;
                flex-wrap: wrap;

                &.column-layer-empty {
                    flex: 1;
                }

                .widgets-wrapper {
                    position: relative;
                    flex: 1;
                    display: flex;
                    flex-direction: row;

                    &.full-row {
                        flex: unset;
                        width: 100%;
                    }

                    .remove-icon {
                        color: rgba(255, 100, 100, .8);
                    }
                }

                .has-left-space {
                    margin-left: 50%;
                }

                .has-right-space {
                    margin-right: 50%;
                }

                .droppable-area-wrapper {
                    display: flex;
                    //flex-direction: column;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 7;

                    .droppable-area-item {
                        flex: 1;
                        display: flex;
                        flex-direction: column;

                        .droppable-area {
                            flex: 1;
                        }

                    }
                }
            }
        }
    }
}

::ng-deep .mat-menu-panel.popover {
    margin: 20px;
}

::ng-deep .widget.drag-active .widget-content {
    height: 100%;
}

::ng-deep body > .widget.drag-active {
    z-index: 9999;

    &.small-widget {
        width: 12.5vw !important;

        &.small-right-widget {
            margin-left: 12.5vw !important;
        }
    }
}

::ng-deep app-full-view .app-widget-full-wrapper .app-widget-full-content {
    max-height: unset;

    .full-wrapper {
        display: initial;
        overflow-y: hidden;
    }
}

.widget-minimize {
    max-height: 75px;
    .widget {
        max-height: 75px;
    }
}

.widget-doubleWidth {
    width: 200% !important;
    z-index: 5555;
}
